[2015-01-30 05:09] skywhale opened #1 "Add instructions to README outlining steps for contributing code"

[2015-02-17 08:36] gimite opened #3 "Support repository alias"
e.g., https://www.google.org/personfinder/2014-jammu-kashmir-floods
-> https://www.google.org/personfinder/jkf

Useful with the g.co/pf short URL. Above can be accessed with http://g.co/pf/jkf

[2015-02-17 08:37] gimite opened #4 "Clean up "modes" of a repository"
Currently PF repository has so many modes e.g., activated or not, launched or not, test mode, etc. We should simplify it.

[2015-02-17 08:38] gimite opened #5 "Make frequently used configs configurable on the admin page instead of tools/console"
- List of launched repos (listed on https://google.org/personfinder/global/home.html )
- SMS config

[2015-02-17 08:41] gimite opened #6 "Add subscription API"
Add an API to subscribe to a record with an email address.

Probably as an API separated from existing write API?

Request by a developer of PF mobile app.

[2015-02-17 08:46] gimite opened #7 "Add zero-rating mode"
Add a per-repository config to enable zero-rating mode. In zero-rating mode, all features which require access to sites outside google.org are disabled.

AFAIK these are: Maps API, Google Analytics, Translate API

TODO: Verify if there are anything else.
TODO: Decide how to do with ToS.

[2015-02-17 08:48] gimite opened #8 "Document how to use resource bundle Web UI"

[2015-02-17 08:49] gimite opened #9 "Allow only valid email address with @ in email subscription"
I saw a case where email field contains a string without "@" and a cron job was failing due to it. Check if we verify email address correctly.

[2015-02-17 08:50] gimite opened #10 "Server test is fraky"
It seems the server test occasionally fails. Check and fix it.

One flaky test is:
ConfigTests.test_config_cache_enabling

[2015-02-17 08:54] gimite opened #11 "Web UI for all configs?"
We may want to have a page to edit all configs. Current admin page allows us to edit only part of the configs. We need to use tools/console for others.

If we do that, we need to be careful so that config doesn't affect the rendering of config page itself, which would cause unrecoverable breakage.

[2015-02-17 08:57] gimite opened #12 "Config validation?"
We may want a mechanism to define verifier of config values. Currently, we can set a value in arbitrary type for configs with tools/console. And setting a value with a wrong type could make whole PF site unavailable.

[2015-02-17 08:58] gimite opened #13 "Add photo upload API"
One of frequent requests by third party developers, including a developer of PF mobile app.

[2015-02-19 01:18] gimite opened #15 "Refer to Github in our translation import script instead of Google Code"

[2015-02-19 01:22] gimite opened #16 "Migrate issue list in Google Code to Github"
https://code.google.com/p/googlepersonfinder/issues/list

[2015-02-19 01:23] gimite opened #17 "Migrate documents in Google Code to Github"

[2015-03-09 06:10] gimite commented on #5
Done for SMS config.

[2015-03-09 06:12] gimite opened #19 "Add a free-form text field to an API key entry"
So that we can put description and a link to a record submitted via
https://support.google.com/personfinder/contact/pf_api?rd=1

[2015-03-17 06:23] gimite commented on #16
Let's do this after 4/1 when Ryo is back in Tokyo.

[2015-03-23 01:31] gimite opened #23 "Show all languages in the language menu"
- Show languages selected per repository first
- Show the rest of all languages below it

[2015-03-27 07:18] #17 closed

[2015-03-27 07:19] #3 closed

[2015-04-13 05:09] gimite opened #26 "Prepare default message for deactivation message etc."
We can internationalize the message beforehand. Then we can save on-site internationalization effort if the default message is sufficient.

1. The message saying the repository is deactivated e.g.,

Person Finder is no longer managing records from XXX.  For
additional information on missing persons, please contact the <a href="
http://www.icrc.org/Web/Eng/siteeng0.nsf/html/restoring-family-links-w

[2015-04-25 11:50] isaacbaldwin opened #28 "Nepal earthquake April 2015"
Looking for Isaac Baldwin from Manchester he was trekking with a Sherpa and Max Downman around the annapurna ring when the quake hit this morning 07503337405

[2015-04-25 13:36] munyekif opened #30 "Kenya Mombasafloods"
Floods in Mombasa and Nyanza

[2015-04-26 04:59] ProfNandaa opened #31 "Write readme.md in a better mark-down format"
I think this is because this project was moving from Google Code. Is a small fix, I'll do it myself as a handshake to the PF dev community.

[2015-04-26 15:25] gimite commented on #28
This is an issue tracker for Person Finder development, not a form to share person information. Please use Person Finder instead:
https://google.org/personfinder/2015-nepal-earthquake

In Person Finder, I found one person record with the same name, reported as safe:
https://google.org/personfinder/2015-nepal-earthquake/view?family_name=&given_name=&id=2015-nepal-earthquake.personfinder.google.org%

[2015-04-26 15:25] #28 closed

[2015-04-27 00:57] gimite opened #33 "Better name for API "read" permission"
Give better name for API "read" permission, both internally and in the application form, to something like "bulk_read". Admin page should also have clear documentation.

[2015-04-27 01:00] gimite opened #34 "Consider removing configuration to require API keys for search API"
It doesn't make sense to me to configure it per repository. Maybe we should decide a policy whether we require API key or not, and apply it for all repositories?

[2015-04-27 18:50] kspviswa commented on #9
I would like to work on this bug. I started off with cloning pf, but then stalled on where to start. While I'm comfortable with normal python, I'm new to django & google app engine. Can you please provide me some pointers to  how to start? Is there any bootstrap & configure script to start / set-up?

[2015-04-28 06:12] gimite commented on #9
Hello @kspviswa ,

It's great to hear that you are interested in development of Person Finder. Here is a GettingStarted doc:
https://github.com/google/personfinder/wiki/GettingStarted

Let me know if anything is unclear.

[2015-04-28 06:47] kevinalle opened #35 "Redesign the UI"

[2015-04-28 07:08] kspviswa commented on #13
Hi,

Could you please elaborate on this issue. I do see a phtoto upload dialog in official google pf site. Since photo upload feature is already available, I'm trying to understand what you meant by photo upload API. I'm sorry if this is obvious question. I'm quite new to pf

[2015-04-28 07:50] kspviswa commented on #19
Hi,

Do you want to add this text field under "Identify who you have information about" -> "Source of this record" ?

[2015-04-28 08:41] ProfNandaa commented on #31
Already done by @caneroj1

[2015-04-28 08:41] #31 closed

[2015-04-28 21:33] Aloknayan commented on #9
@kspviswa  I would also like to contribute, The situations same on this end comfortable with python, I was hoping maybe we can work togather.

[2015-04-29 12:40] kspviswa commented on #9
@Aloknayan Welcome to pf. To get started please look @ gettingstarted link as suggessted by @gimite . BTW I've started working on this issue. I would suggest you to work on some other issue, to prevent our efforts being duplicated.

@gimite Is there any way, to assign the issues to ourselves ? Something liking picking ?

[2015-04-29 14:37] gimite commented on #9
@kspviswa You can just write your interest here as you have already done.

[2015-04-30 07:12] gimite opened #37 "Support global API keys (with repo='*') in web admin page"

[2015-05-01 00:53] gimite opened #39 "Add "status" to person records in download_feed.py"
It would be handy if person records downloaded with download_feed.py contains "status" field. Currently it's in notes feed, but not in persons feed.

[2015-05-01 14:31] skywhale commented on #9
Thank you very much kspviswa@ for the great contribution. The change is going to be merged to the default branch and pushed at the next server deployment (hopefully very soon).

[2015-05-01 15:17] kspviswa commented on #9
@skywhale Thanks for your helpful reviews and motivation. @gimite Thanks for pointing to quick start link, which enabled be to *start quickly* .

BTW could you help me in selecting next bug? I'm eager to contribute more :)

[2015-05-07 13:43] gimite commented on #13
Sorry for slow response.

It should be fine to reuse "write" API access to permit photo upload.

Your suggested flow should work too, but I prefer a flow like this:

- A user performs POST request to /REPO/api/upload_photo?key=API_KEY with a image data. (Directly putting image data to the HTTP request body would be good.)
- It returns simple XML just with a URL to the uploaded photo (with randomly

[2015-05-07 13:54] gimite commented on #19
This is about adding a field, named "description" or something, to Authorization model, which stores API key information. We should also modify
https://google.org/personfinder/test/admin/api_keys
etc. to fill the field.

[2015-05-07 15:25] skywhale commented on #13
I agree with you. When we built the photo uploading demo for the intern's
Android app, we basically did exactly what you described.

On Thu, May 7, 2015 at 10:43 PM, Hiroshi Ichikawa <notifications@github.com>
wrote:

[2015-05-08 05:53] kspviswa commented on #13
@gimite Thanks for your valuable comment. I have a follow-up question though. So the photo-upload API, would just save the uploaded photo with random-ID and return the generated random-ID as a response. Are we going to maintain a seperate dir to save the photo locally inside pf directory structure or do you prefer some cloud API to be used. [google-drive, onedrive etc].

[2015-05-08 11:44] gimite commented on #13
You can do the same thing as existing logic to upload a photo while
creating a new record on the web UI. It stores the image in Photo model in
datastore.

You can call photo.create_photo in the similar way as in
create.Handler#post:
https://github.com/google/personfinder/blob/master/app/create.py#L96
The method does "generate random ID" and "save the image in the datastore".

2015年5月8日(金) 14:53 ks

[2015-05-13 06:13] gimite opened #43 "Should skip notes for deleted person records in api/write"
Also, it causes internal exception while handling notifications.

[2015-05-14 17:56] gimite opened #44 "Do not allow open redirect by "target" parameter of /reveal"
We should validate that it is in the same domain.

[2015-05-14 22:37] gimite opened #47 "Consider auto-detecting whether we should show ui=light UI"
One idea is to make a whielist of known desktop / smart phone browsers, and use ui=light for everything else.

[2015-05-15 14:00] rupertbreheny commented on #47
If the core difference is the CSS that is applied then I'd suggest something like wrapping ALL the CSS in a simple media query:

@media all {
  /* All styles live here */
}

Any up to date phone would understand what a media query is, and apply the contents to the page, older phones won't validate the expression and just ignore the CSS all together.

www.caniuse.com/#feat=css-mediaqueries

The onl

[2015-05-15 14:04] rupertbreheny opened #48 "Responsive CSS for narrow viewports"
I have some work in progress - I'll get it uploaded to GitHub shortly.

[2015-05-15 18:05] Jessie-Newman opened #50 ""I have information" page is 2 columns on mobile."
On some mobile browsers, it's not apparent that there's a second column. On mobile browsers, the "I have information" screen should just be one column.

[2015-05-20 02:10] gimite opened #52 "Detect simultaneous edit in admin page and show error or warning"

[2015-05-24 14:32] gimite commented on #47
Sorry for slow response.

Sounds like a great idea, thanks! I will try it.

Other than CSS, ui=light also disables JavaScript. This is because some really old phones don't interpret script tag and renders JavaScript code in HTML. I'm not sure if we still need to take care of such browsers, but if we want, we should use old-fashioned technique like this:
[code]

There are also a few small tweaks ap

[2015-05-25 13:50] kspviswa commented on #9
@skywhale  @gimite Can this bug be closed?

[2015-05-27 06:54] gimite commented on #44
#45 was submitted, but we also need a check that "target" parameter doesn't contain a host name at line 104? Otherwise malicious user can still put a full URL to the "target" param.

[2015-05-27 07:28] gimite commented on #9
Actually the original bug says that I once found a record with an invalid mail address in the data store in the server. Since you pointed out that there was already a validation in the server side, it shouldn't have happened. I will close this bug after verifying that there is no other data flow to put the address without validation.

[2015-05-29 07:43] gimite opened #54 "Make feedback form more discoverable"
Maybe put "Feedback" link at the bottom of every page which links to https://support.google.com/personfinder/contact/pf_feedback?rd=1 ?

[2015-06-01 05:54] gimite commented on #48
#51 was submitted.

[2015-06-01 05:54] #48 closed

[2015-06-11 06:09] #4 closed

[2015-06-11 06:10] gimite commented on #5
Done for launched repos by https://github.com/google/personfinder/commit/1b9feb2666354edf280e4d27595f5a7a18528983 .

[2015-06-11 06:10] #5 closed

[2015-06-11 08:08] gimite commented on #50
I believe this is fixed by your CSS change.

[2015-06-11 08:08] #50 closed

[2015-06-27 08:45] drewm11235 commented on #6
Hi - I'm interested in contributing to this open source project and I'm looking for some clarification.

I'm trying to learn how to build an API and I think I'm successfully figuring it out.

However, I'm looking for further guidance with the exact assignment. The existing write API, is that api.py? What variable name stores email address in the code? Where is email address stored as record?

If t

[2015-06-30 06:45] #54 closed

[2015-06-30 06:45] #44 closed

[2015-06-30 06:45] #43 closed

[2015-06-30 06:49] #30 closed

[2015-06-30 06:58] #15 closed

[2015-06-30 07:55] gimite commented on #33
Also clearly document difference between "read" and "full_read".

[2015-06-30 15:01] gimite commented on #6
Thanks for the interest in contributing to this project!

I'm sorry, but I have just found that there's actually already a subscription API (api/subscribe).

If you are interested, it would be great if you pick up another issue from:
https://github.com/google/personfinder/issues

[2015-06-30 15:01] #6 closed

[2015-07-01 00:58] drewm1123 commented on #6
Hi Hiroshi,

Ok, thanks!

I'm definitely interested. I'm trying to get into the open source space as
an intro to my first software engineer job. Long-term I want to become a
software engineer and also contribute to this project on a continuing basis.

Do have any suggestions for what issue to work on?

Drew

On Tue, Jun 30, 2015 at 8:02 AM, Hiroshi Ichikawa <notifications@github.com>
wrote:

[2015-07-01 02:12] gimite commented on #6
#19 or #52 may be a good start. We will import issues from the old site in the end of this week, so I expect more issues registered soon.

[2015-07-01 07:37] gimite opened #62 "Split server_test_cases.py"
It's just too long.

[2015-07-03 03:22] drewm1123 commented on #19
class Authorization is defined in app/model.py

[2015-07-06 01:41] gimite opened #65 "Add a delete button for uploaded files"
Need to add a “delete button” in the upload photo section. If the user uploads a wrong file (wrong extension) by accident but he does not have any file to upload he cannot save any information in the form until he inputs some picture.

Copied from https://docs.google.com/document/d/1M_kGYkEdlN4Ii7DHwyLgqHan3vusfohNWjxVJ_Ggt_o/edit?hl=en_US&pli=1

Users can delete the file by clicking "Upload" agai

[2015-07-06 01:53] gimite opened #66 "Make area names (states, cities, towns) consistent"
Currently these are optional and free-form text fields. So they can be inconsistent. Each record can have only part of them, and they may be written in different ways (Tama vs Tama-shi vs 多摩市). It may be great if we can make it consistent, which enables:

* area-restricted search
* get list of missing people in an area (for trusted third-party)

One idea is to make them a drop-down list instead of

[2015-07-06 02:02] gimite opened #67 "Free-text search (search by person name + location)"
It would be nice if users can search by person name + location (city, town, etc.). To implement it, we probably need to switch to full-text search API.

[2015-07-06 03:01] gimite opened #69 "Subscribe with SMS"
Allow people to subscribe to a record to receive SMS updates

[2015-07-06 03:02] gimite opened #70 "Fuzzy Matching of names"
UC Irvine has done some work on this, but allow "like" names to show up in search results

[2015-07-06 03:04] gimite opened #71 "Allow for hidden fields for identification"
Allow some identification fields (such as social security or full birthday) to be sent & searchable but not exposed. Can be used for dups detection
->Open question: share in feeds?
->Open question: PFIF flag as hidden?

[2015-07-06 03:05] gimite opened #72 "Search by face recognition"
Why not use the picasa face recognition to find people.
If people take random pictures in shelters in japan and upload them to the missing people web site, and the a loved one who is looking for them can upload a photo and tag it with a name.  Then picasa face recognition can scan through the pictures uploaded from shelters to find the missing people.

[2015-07-06 03:07] gimite opened #73 "Improve the dashboard UI"
In current admin/dashboard, the section showing statistics fo Data Sources is not very intuitive. We would like to re-design this section to make the table more clear and user-friendly. Basic improvement such as some alignment, colors would be good. It will be mostly HTML/CSS work.

[2015-07-06 03:08] gimite opened #74 "api endpoints should return appropriate errors when subdomains are deactivated"
Currently they get the same html message page as regular UI.

[2015-07-06 03:09] gimite opened #75 "Build an Android client application for Peson Finder"
This is an experimental project, which I plan to have one of the interms to tackle this Summer.

- Show a notification when a new repository is activated (using repo feed or C2DM)
- Offline support: upload a person's status as soon as the phone goes online
- GPS location sharing: make it easy to share the current location based on the phone's GPS signal
- Ideally, the application should be preinst

[2015-07-06 03:10] gimite opened #76 "Add links to share PF with FB/twitter/reddit/instagram/G+ etc"
We can add a custom message to the front page, but these links should be there by default.

[2015-07-06 03:11] gimite opened #77 "Add option to disable crons for deploy"
Currently when deploying to appengine, it deploys the default config, in particular, it uses cron.yaml which specifi some cron jobs to run.
When deploying to some dev, version it would be good to not run some of these cron jobs which use significant amount of CPU/memory and could make the dev instance run our of quota.

The goal of this bug is to allow to deploy to appengine without the jobs descr

[2015-07-06 03:11] gimite opened #78 "Automate Environment setup"
The Getting Started Guide explains how to install all tools required to develop PersonFinder as well as their version.
However, sometimes it can be painful to make sure this is working fine and that we have the right setup.

It would be great to be able to have something more automatic: either some sort of image of a setup to clone (and project owner would update this image regularly when the tool

[2015-07-06 03:12] gimite opened #79 ""Home country" not requested when creating a Record but then it is displayed as blank"
How to reproduce on test.googlepersonfinder.appspot.com

1) Create a Record.

2) In the "home address" forms, it collects street name, neighborhood, city, province/state but it does not ask for a country.

3) Then when you view this created record, it displays "Home country:	"

[2015-07-06 03:13] gimite opened #80 ""Show who marked these duplicates" is very confusing"
When I mark 2 records as duplicates, then it adds to each record the following text.
"Possible duplicates
PERSON NAME
 (links_to_record_)
Show who marked these duplicates"

"Show who marked these duplicates" is a link and when I click on it, I expect to see information about the person.
What happens is actually, that we do display a note on the right side of the record. But it is hard to notice, f

[2015-07-06 03:18] gimite opened #81 "Integrate with Google Search"
From a customer feedback.

Due to our deletion policy and to avoid crawling, we cannot simply allow Google to index PF record pages. But it might be possible to add Person Finder onebox in Google Search.

1.A google search for data entered in person finder does not appear in a google search of Firstname;Lastname or other forms.
2.Adding data from Person-finder to Google index would greatly expand

[2015-07-06 03:19] gimite opened #82 "Require status/contact to mark people as deceased"
I think there should be a status for deceased people. Otherwise, what should I put if I have information that the person being searched for is already dead for what ever reason?

[2015-07-06 03:21] gimite opened #83 "Should merge two CSV upload form (persons and notes) into one"

[2015-07-06 03:30] skywhale opened #84 "Release script should check for missing indexes"
kpy:

To protect us from breaking the app when we push code, we have to make sure that all the necessary indexes exist and are fully built before pushing.  It would be helpful to have a release script that:
1. Runs all the tests without --require_indexes.
2. Commits any resulting changes to index.yaml.
3. Runs appcfg.py update_indexes to add any newly needed indexes.
4. Waits until all indexes are

[2015-07-06 03:31] skywhale opened #85 "Comments marked as spam still affect the status of the case (especially false Dead comments)"
Some people have written back in the comments that they are okay, yet trolls have added false Dead comments which seem to be taking precedence, either because they are "dead" or because they are most recent.

[2015-07-06 03:31] skywhale commented on #85
Need to very verify if this is still live.

[2015-07-06 03:32] skywhale opened #86 "Display full_name instead of given_name + family_name combination"
We need to upgrade all the legacy code that uses given_name + family_name combination. full_name was introduced in PFIF 1.3 to fully support i18n.

[2015-07-06 03:32] skywhale commented on #86
Need to verify if there is still some legacy code left.

[2015-07-06 03:32] skywhale opened #87 "Two photo upload fields in create form are a bit confusing"
Both Person and Note records accept photos now, which means that on the initial "I have information about someone" page, there is a Photo upload area in both the left and the right column.  This is confusing when a user is first entering information about someone, so we should only show the Photo area for the Person record and hide the Photo area for the Note record on this initial entry page.

[2015-07-06 03:32] skywhale commented on #87
Let's revisit as part of UI revamp.

[2015-07-06 03:36] skywhale opened #88 "Add a link to ?ui=light (for the tier2 phone) on the top left corner of the landing page"
So, when it fails to detect that the user agent is a tier2 phone, the user can still click on the link to go to the tier2 phone UI. Another option is to use the CSS @media query to disable CSS loading in old phones.

[2015-07-06 03:37] skywhale opened #89 "Send an email notification when the review queue grows larger than X"

[2015-07-06 03:37] skywhale opened #90 "Monitor task queues and warn (via email) if any queues are clogged"

[2015-07-06 03:38] skywhale opened #91 "Add pagination support in the search result page"
Need to check if there was any product reason for not supporting this e.g. allowing to scrape a bulk of person records by following the links.

[2015-07-06 03:38] skywhale opened #92 "Show visual confirmation that a note has been added or a record has been created"

[2015-07-06 03:38] skywhale commented on #92
Let's revisit as part of UI revamp.

[2015-07-06 03:42] skywhale opened #93 "Support full text search beyond names"
This should be relative simple to implement with the new Search API provided by GAE.
https://developers.google.com/appengine/docs/python/search/

Please note that we probably need to make sure a search query matches at least a part of person name; otherwise, the feature could allow querying for a neighborhood name and scrape a list of people there, which we agreed is a capability we don't want to

[2015-07-06 03:43] skywhale opened #94 "Set retry_limit to all the task queues"
We've been burning a lot of cpu with bad tasks in the email queue.  Set retry_limit to something plausible for all queues. See https://code.google.com/appengine/docs/java/configyaml/queue.html for details.

[2015-07-06 03:43] skywhale opened #95 "Add e2d test for basic user flow with lang=ja"

[2015-07-06 03:44] skywhale opened #96 "Simplify "I'm this person" flow"
Can we simplify the flow for creating a person record for _myself_? (How popular is this use case?)

In particular, auto-fill the following fields:
  Author's name: Person's name
  Status: I'm this person
  Have you personally talked with this person: YES

[2015-07-06 03:44] skywhale commented on #96
Let's revisit as part of UI revamp.

[2015-07-06 03:44] skywhale opened #97 "Dashboard hiccups sometimes: occassional drops in counts"
We need to investigate what causes the sudden drops in the dashboard and see if that can be fixed.

[2015-07-06 03:45] skywhale opened #98 "Should merge two CSV upload form (persons and notes) into one"

[2015-07-08 02:40] gimite commented on #67
Copying @skywhale 's comment from another issue:

This should be relative simple to implement with the new Search API provided by GAE.
https://developers.google.com/appengine/docs/python/search/

Please note that we probably need to make sure a search query matches at least a part of person name; otherwise, the feature could allow querying for a neighborhood name and scrape a list of people there,

[2015-07-08 02:40] gimite commented on #93
Mark as dup of #67

[2015-07-08 02:40] #93 closed

[2015-07-24 08:08] gimite opened #100 "Make indexing.rank() work without given_name/family_name"
Currently indexing.rank() fails if given_name/family_name is None. But the fields should be optional per PFIF.

To reproduce the issue, create person records without filling given_name/family_name, and search for a query which matches multiple records.

[2015-07-28 07:42] gimite commented on #100
We can remove this workaround if this is fixed: https://github.com/nworden/personfinder/commit/7c3dae3721dc66a26215c5050611fdb915c2f9c6

[2015-07-28 08:22] gimite opened #101 "Use Babel to localize date/time format"
Babel seems better than the one currently used.

e.g., Django formatter (currently used) doesn't support Bulgarian where the date format should be:
DD.MM.YYYY г.

Not sure if Babel supports Bulgarian, though.

[2015-07-29 08:11] gimite opened #102 "UI refresh"

[2015-07-29 08:15] gimite opened #103 "Search by image using face image recognition"

[2015-07-29 09:12] #37 closed

[2015-07-29 09:13] #16 closed

[2015-07-31 02:48] gimite opened #104 "Add admin UI to configure repository alias"

[2015-07-31 05:50] gimite opened #105 "Better Admin page UI for JSON fields"

[2015-08-05 02:40] gimite commented on #104
Add a field to edit config "repo_aliases" to the global Admin UI.

* Add "repo_aliases" to json_config_names in app/admin.py
* Add a field for "repo_aliases" to app/resources/admin.html.template. Do something similar to "sms_number_to_repo".

[2015-08-05 09:38] #104 closed

[2015-08-05 17:27] kspviswa commented on #13
@gimite

Is this issue still open? After pretty long gap I'm back to PF :) . So just want to know this, before resuming on this issue.

[2015-08-05 21:05] kspviswa commented on #13
Hi,

I had created a pull request for this feature request here : https://github.com/google/personfinder/pull/109

Please review and merge the pull request if deemed fit.

BR,
VIswa

[2015-08-06 02:29] gimite opened #110 "Clearer error message when running server_tests while running local dev_appserver"
It fails, probably because of the port conflict, but the error message is cryptic.

[2015-08-06 15:52] kspviswa commented on #87
@skywhale @gimite

I would like to work on this feature request. Can I ?

[2015-08-06 15:56] kspviswa commented on #79
@gimite

I would like to work on this bug.

[2015-08-06 17:16] kspviswa commented on #79
@gimite

I had created a pull request https://github.com/google/personfinder/pull/113 to merge the commit that contains fix for this bug. Please review and accept merge, if deemed fit.

PS : I don't understand why my commits are aggregating into single pull request.

[2015-08-10 00:11] gimite commented on #87
We are working on refreshing the UI, and we are planning to fix this as a part of the refresh. So can you avoid working on it for now?

[2015-08-10 04:50] gimite opened #115 "Add document and code example of scrape.py"

[2015-08-10 04:54] gimite commented on #79
You should make a branch from the master branch, instead of branching from kspviswa:kspviswa-photo_upload_API_new. i.e., kspviswa:kspviswa-bugfix_#79 should not contain the photo upload API change. In this case, I will cherry-pick only the relevant commit, so you can just leave it.

[2015-08-11 05:49] gimite commented on #67
@prazuma will work on this.

[2015-08-11 09:19] gimite opened #117 "Update HowToDevelop wiki page"
Mostly outdated, assuming Google Code + Mercurial.

https://github.com/google/personfinder/wiki/HowToDevelop

[2015-08-11 09:42] gimite opened #118 "Be consistent whether to require HTTPS in the admin pages"
Some admin pages require HTTPS. Others aren't. Be consistent, probably always require HTTPS. Also, redirect from HTTP to HTTPS.

[2015-08-12 00:54] gimite opened #119 "Script to perform tools/gae upload with cron jobs disabled"
Useful to upload the app to AppEngine for demo purpose, to workaround quota exceeded.

[2015-08-13 01:42] gimite opened #120 "Clean up README"
Link to the developer guide, and move "How to contribute" into the developer guide.

[2015-08-13 05:43] #79 closed

[2015-08-13 08:30] gimite opened #121 "Better UI to switch between global admin page and repo-specific admin page"

[2015-08-13 08:32] gimite opened #122 "Link to documents from admin pages"
Either write a doc or copy from our internal doc, and link to them from admin pages.

[2015-08-13 08:34] gimite opened #123 "Add explicit check box for "write" permission of API key in admin page"
Currently, filling the domain name for write access subsumes the "write" permission, but it's confusing. We should add an explicit check box for "write" permission.

[2015-08-13 08:35] gimite opened #124 "Fix various localization issues"
They are filed in the internal bug tracker.

[2015-08-13 08:41] gimite opened #125 "Implement a helper command to run a one-time script against Person Finder instance"
A command like tools/console, which executes a .py file instead of interactive prompt.

Would be useful to execute a one-time script to update data store in batch, for example.

[2015-08-13 09:14] gimite opened #126 "Localize order of address components (e.g., state, city, town)"
Both for the input form and the record view page.

We may use this data:
https://github.com/googlei18n/libaddressinput/wiki/AddressValidationMetadata

[2015-08-14 01:59] gimite opened #127 "Map zoom in/out buttons don't work when the language is Urdu"
Zoom in/out with mouse scroll works.

[2015-08-14 05:30] gimite opened #128 ""Mark records as duplicate" table has too much space"
![e50zdfufg](https://cloud.githubusercontent.com/assets/15363/9402234/b56d8f68-4815-11e5-9d9e-fcda7a73d247.png)

To see this page, create two person records with a common family name, search for the family name, click "duplicat marking mode", check both of them, and click "Mark records as duplicate".

[2015-08-15 07:53] clobrano commented on #78
What about a Docker container? I just started looking around in this project, so I am not 100% sure that this solution will suit it

[2015-08-15 09:51] kspviswa commented on #13
@gimite

I had opened another fresh pull request https://github.com/google/personfinder/pull/129 after doing clean-ups & addressing your review comments.

Please review the new pull request https://github.com/google/personfinder/pull/129 and accept the merge if deemed fit.

I'm hereby closing this pull request.

[2015-08-16 22:18] clobrano commented on #78
Well, I had time to made some tests and I managed to complete the steps from the "Getting Started" page within a docker image with this configuration:

* all the tools and dependencies in the docker container
* the personfinder's source code in a host's folder shared with the container
* the gae test server running inside the container, but accessible from the host's web browser

[2015-08-18 13:07] gimite commented on #13
Thanks, I will take a look. Next time, it would be nicer to update the existing pull request instead of creating another one. You can just push your extra changes to the existing branch associated with the pull request.

[2015-08-18 17:23] kspviswa commented on #123
@gimite

I would like to work on this issue.

[2015-08-18 17:26] kspviswa commented on #128
@gimite

I couldn't view the screenshot. On clicking the link, I was asked enter my google credentials. On entering my gmail ID, it doesn't proceed further. Maybe the sreenshot reside in Google's private servers.

Let me know if I can work on this.

BR,
Viswa

[2015-08-18 17:33] kspviswa commented on #87
@gimite

Sure.

[2015-08-18 17:41] kspviswa commented on #81
@gimite

This would be a real value add for PF

[2015-08-18 18:01] kspviswa commented on #126
@gimite

This is a good initiative. Will the above link gets auto-updated if a new state / city gets formed?
Anyway this is lot better than manual filling.

[2015-08-21 05:59] gimite commented on #78
Thanks for the suggestion and pull request! I will take a look.

There is another separated issue that you need to call setup_datastore() manually when you create a new app instance, as instructed in https://github.com/google/personfinder/wiki/GettingStarted . It should be done automatically on the first visit.

[2015-08-21 06:01] gimite commented on #123
It would be great! To clarify, we should have both checkbox and the text field for the domain name. If the user checks the checkbox and leave the domain field empty, we should show an error.

[2015-08-21 06:17] gimite commented on #128
Yeah sorry it was our internal page. I replaced it with an externally visible one.

[2015-08-21 06:18] gimite commented on #128
It would be great if you work on it.

[2015-08-21 06:19] gimite commented on #126
Not really sure but hopefully :)

[2015-08-21 06:41] clobrano commented on #78
I thought it was only a way to get some example data to start working on something.
I will have a look on how to do it automatically on container's creation.

[2015-08-22 13:28] gimite commented on #78
Yeah but anyway you need some repositories to test anything, and I believe setup_datastore() also performs some global initialization. It's required also when you create a new real AppEngine instance (not local one) for testing. So I prefer a solution in AppEngine code, not limited to a local instance in Docker container.

[2015-08-22 16:04] kspviswa commented on #123
@gimite

Thanks for the clarification. I shall work on it and raise a pull request for you to review.

[2015-08-23 10:07] clobrano commented on #78
I'm not sure I have understood. Is it that you would prefer that running the web server the first time will call somehow setup_datastore programmatically?

I found out that there is the possibility to run both the Person Finder's server AND another script that calls setup_datastore the first time the Docker container is run. There still a problem tough, since the Person Finder's server is not run

[2015-08-25 01:52] gimite commented on #78
Yes.

I prefer to implement the auto setup inside our AppEngine code, not as part of Docker initialization. The reason is that we also sometimes run our test server in AppEngine, not localhost:
https://github.com/google/personfinder/wiki/GettingStarted#step-6-optional-run-the-app-on-appengine
If we implement it inside AppEngine code, then it will also work on test servers in AppEngine too.

[2015-08-25 04:09] prazuma opened #135 "Unable to register and search by kanji if "Require query words to have at least 2 characters" is selected"
When "Require query words to have at least 2 characters" is selected, can't register record with given/family name with 2-letter kanji characters. It should be accepted since it says "at least 2 characters".

[2015-08-25 06:19] clobrano commented on #78
I agree.

So, If you are ok with that, I would not change this pull request. This way when the Docker container starts, the developer can either run the development server or  do other stuff on the environment if he/she needs.

For the setup_datastore issue, I can add a (temporary) notes about how to run this command with Docker. Moreover, if an issue about the setup_datastore inside your AppEngin

[2015-08-26 04:52] gimite commented on #135
Clarified the bug description. Since it says "require at least 2 characters", it would be fine to reject one-letter given/family names. But still it should not reject 2-letter names.

[2015-08-26 04:53] gimite opened #137 "Add server test with full text search enabled"
@prazuma will work on it.

[2015-08-26 07:02] #137 closed

[2015-08-26 07:05] gimite opened #138 "Do not show expired records in full text search mode"
Also, if the user delete the record and then undo the deletion, it must show up again.

@prazuma will work on this.

[2015-08-26 07:07] gimite opened #139 "Update Recaptcha to the new version"
The one with "I'm not a robot" button.

@prazuma may work on this.

[2015-08-26 12:56] gimite opened #140 "Automatically call setup_datastore() on the first HTTP access to the newly created application instance"
Currently you need to manually call setup_datastore() for a newly created application instance, as instructed in https://github.com/google/personfinder/wiki/GettingStarted . It would be nice to automate it.

To implement it, we need to be careful about mutual exclusion. It's quite likely that multiple HTTP requests are made in parallel. We need some kind of mutual exclusion, or maybe just show a [

[2015-08-26 12:58] gimite commented on #78
Yeah the issue is open. I filed a separated issue #140 . It would be great if you work on it. Please show your interest there if you will work on it.

[2015-08-26 12:58] gimite commented on #78
Sounds good to me.

[2015-08-26 14:29] clobrano commented on #140
Hi, I would like to work on this issue

[2015-08-26 21:38] clobrano commented on #78
I saw that API server and Admin server run on localhost even if I am providing a --host parameter to tools/gae app run. I will look for a fix for this

[2015-08-27 03:58] skywhale opened #141 "On mobile, get the user's current location from GPS signal using HTML5 API"
We probably can not publish the precise location, and some sort of redaction may be necessary, but for the initial demo, we can start with precise latlng and reverse geocoded address.

[2015-08-27 04:19] tingar opened #142 "500 Error when address is multiple lines"
When adding information about a person, if the address is more than 1 line, submitting the form results in a 500 error.

Error from the console log:
[code]

[2015-08-27 06:11] gimite opened #143 "Automatically show SMS instruction on the home page"
Automatically show SMS instruction on the home page when SMS numbers are configured for the country. SMS numbers can be configured here:
https://google.org/personfinder/global/admin

[2015-08-27 07:11] gimite commented on #142
Thanks for the report. Fixed.

[2015-08-27 07:11] #142 closed

[2015-08-27 07:19] hidetokazawa commented on #127
It seems like this happens with RTL languages. Verified this happened with Hebrew as well.

[2015-08-27 07:56] hidetokazawa commented on #127
This doesn't reproduce with a fresh checkout. To reproduce it, I needed to change "Map size in pixels" to "[400, 280]", which is the value used in http://google.org/personfinder/japan, in the admin page.

[2015-08-27 07:59] ntduong opened #148 "Update localized messages for vietnamese"

[2015-08-27 08:35] gimite commented on #148
Did you find any particular issue?

[2015-08-27 08:45] gimite commented on #127
Thanks! I updated production "japan" and "test" repository to use [400, 400] and verified the bug is fixed. Remaining AIs for this bug should be:

- Use [400, 400] as default in:
https://github.com/google/personfinder/blob/master/app/admin.py#L92
https://github.com/google/personfinder/blob/master/tools/setup_pf.py
- Show error when a user set map size smaller than [400, 400] in the admin page
- Up

[2015-08-27 08:45] ntduong commented on #148
I think some messages sound a bit weird to me. Also, some entries are missing vietnamese counterpart. Overall, it is a minor issue though.

[2015-08-27 08:47] gimite opened #149 "Unify the function to create a repository with defaults"
There are multiple places to create a repository, with slightly different configs. Create a unified function with reasonable defaults.

https://github.com/google/personfinder/blob/master/app/admin.py#L92 https://github.com/google/personfinder/blob/master/tools/setup_pf.py

[2015-08-27 08:55] ntduong commented on #148
Perhaps just ignore it for now. I'm looking at other issues.

[2015-08-27 08:58] gimite commented on #148
Replied via the corp email.

[2015-08-27 09:01] gimite commented on #141
Some people may just want to let others know where exactly they are. Precise location maybe enough if we show a warning.

[2015-08-27 20:40] clobrano commented on #78
I've fixed the issue with Admin and API server. From my side this can be merged

[2015-08-28 02:03] #80 closed

[2015-08-28 02:10] gimite opened #152 "Add a document of overall code structure"

[2015-08-31 04:49] #85 closed

[2015-09-02 23:14] Jessie-Newman opened #157 "Clean up duplicate code in create.py and add_note.py"
https://github.com/google/personfinder/pull/155 separates create.py into two files, create.py and add_note.py. There's still a lot of duplicate code between the two files that can be cleaned up.

[2015-09-04 07:35] gimite opened #159 "Server test PersonNoteTests.test_multiview is failing"

[2015-09-04 19:06] kspviswa commented on #128
Hi,

I had created a pull request containing the fix for this issue. It is here : https://github.com/google/personfinder/pull/160 .

Please review & accept the merge, if deemed fit.

[2015-09-06 07:28] kspviswa commented on #72
Great Initiative. BTW does Picasa python API integrated with GAE ?

[2015-09-06 07:34] kspviswa commented on #66
@gimite ,

Isn't this issue related to https://github.com/google/personfinder/issues/126 ?

[2015-09-06 07:35] kspviswa commented on #126
Can I work on this issue? I had started a proto-type using JS.

[2015-09-06 07:47] kspviswa commented on #65
Yes. I too felt the same. Infact I was looking for this button when I was first experimenting PF. Accidentally I again clicked the Upload button, only then I realized about this behaviour.

Just to add a little bit here. Even if you click on the "uploaded file name", you can have a chance of uploading another file.

Further more, the uploaded file name is not proper. It is truncated that, even the

[2015-09-06 07:47] kspviswa commented on #65
And... Can I work on this issue???

[2015-09-06 10:36] #13 closed

[2015-09-08 04:50] prazuma opened #162 "Server test ConfigTests.test_config_cache_enabling is flaky"
____________________ ConfigTests.test_config_cache_enabling ____________________
tests/server_test_cases/config_tests.py:109: in test_config_cache_enabling
    assert 'QuuxTitle' in doc.text
E   AssertionError: assert 'QuuxTitle' in 'Person Finder: BarTitle\\n\\nEnglish Krey\xf2l Fran\xe7ais espa\xf1ol Afrikaans Bahasa Indonesia Bahasa Melayu Basa Sunda Catal\xe0 D... not review or verify the accu

[2015-09-08 06:55] gimite opened #164 "Acquire and set new reCaptcha key for production before the next push"
Set config captcha_site_key / captcha_secret_key.

[2015-09-08 07:31] #139 closed

[2015-09-08 07:32] prazuma commented on #138
done

[2015-09-08 07:32] #138 closed

[2015-09-09 08:46] gimite commented on #128
As I mentioned in #160, it has actually been fixed by #146. Sorry for miscommunication.

[2015-09-09 08:46] #128 closed

[2015-09-09 09:15] gimite opened #167 "/admin/api_keys.* line in app.yaml is probably needless"
The line with "url: /admin/api_keys.*" in app/app.yaml looks weird. Probably needless. Delete after verification.

[2015-09-10 06:12] #148 closed

[2015-09-10 06:15] #123 closed

[2015-09-10 06:15] gimite commented on #124
They were filed separately.

[2015-09-10 06:15] #124 closed

[2015-09-10 06:17] gimite commented on #126
Sure, it would be great!

[2015-09-10 06:17] gimite commented on #66
Yeah it's related.

[2015-09-10 06:26] gimite opened #168 "Split tests/server_test_cases/person_note_tests.py"
It's too long.

[2015-09-10 07:07] gimite opened #169 "Too many log outputs after the "XXX passed, XXX failed" message in the server test"
"XXX passed, XXX failed" should be printed at the bottom. We may not need the mail log by default?

[2015-09-17 06:41] #135 closed

[2015-09-25 06:35] #105 closed

[2015-09-28 06:30] gimite opened #178 "Handle Chinese names in kanji in the search query correctly"
Currently, if:
* 周 -> しゅう is in Japanese dictionary
* There is a person record with name "Zhou" (Chinese way to romanize 周)

then you cannot search for the record by query [周] because it is romanized into "shu". It should work.

[2015-09-28 08:25] gimite opened #179 "Support romanizing "山田太郎" without space just by "山田" and "太郎" in the dictionary"
For full-text search with Japanese dictonary.

[2015-09-28 08:29] gimite opened #180 "Perform load test of full-text search"
Put a lot of random records and measure search speed.

We may use this API to add records:
https://github.com/google/personfinder/wiki/DataAPI

[2015-09-28 08:49] gimite opened #181 "Verify that the search query is sanitized"
Verify that it handles any query strings correctly, and remove "#TODO: Sanitaize query_txt" in full_text_search.py.

[2015-09-29 04:52] gimite opened #183 "Combine Japanese name dictionary and location dictionary for romanization"

[2015-10-06 07:18] gimite opened #189 "Update the message to let users know that they can search by person name + location"
Update "Enter the person's name, parts of the name, or mobile phone number."

After we launch full text search.

[2015-10-16 14:13] gimite opened #191 "Should allow uploading large CSV files for import"
Currently uploading large file can fail due to timeout. Should use task queue to workaround the issue.

[2015-10-26 03:29] gimite opened #192 "Migrate to remote API using OAuth"
The one we are using, based on ClientLogin, will be shut down:
https://cloud.google.com/appengine/docs/python/tools/remoteapi#using_the_remote_api_in_a_local_client

[2015-10-26 13:40] gimite commented on #164
Done

[2015-10-26 13:40] #164 closed

[2015-10-27 02:23] gimite opened #194 "Clearer error message for SMS messages to a number not associated with any repos"
e.g., "This number is not associated with any active Person Finder repository"

[2015-10-27 07:15] gimite opened #196 "Server test failing: ConfigTests.test_config_cache_enabling"
____________________ ConfigTests.test_config_cache_enabling ____________________
tests/server_test_cases/config_tests.py:109: in test_config_cache_enabling
    assert 'QuuxTitle' in doc.text
E   AssertionError: assert 'QuuxTitle' in 'Person Finder: BarTitle\n\nEnglish Kreyòl Français español Afrikaans Bahasa Indonesia Bahasa Melayu Basa Sunda Català D... not review or verify the accuracy of this d

[2015-10-27 07:40] gimite opened #197 "Layout of the repository home page looks a bit broken on RTL language + mobile"
https://screenshot.googleplex.com/h5rZ7kRi90s

[2015-10-27 08:17] #183 closed

[2015-10-27 08:17] #181 closed

[2015-10-27 08:17] #179 closed

[2015-10-27 08:17] #178 closed

[2015-10-27 08:18] #159 closed

[2015-10-27 08:19] gimite commented on #196
Dup of #162

[2015-10-27 08:19] #196 closed

[2015-10-28 19:43] leifneve opened #198 "Feed problem"
There is a flaw in the current implementation of the data feed on Google. I don't know if it's been addressed on Github or not. The problem affects clients creating a copy of the repository via a feed using the "min_entry_date" and "skip" parameters. When a record in the repository is deleted, its entry_date gets updated. But doing so breaks clients who rely on precisely "skip" number of records h

[2015-10-29 04:53] gimite commented on #198
Thanks for the feedback. That's good point. But we are wondering how to solve it. Let us know if you have good idea :) Note that we cannot simply attach sequential IDs to the records due to distributed nature of AppEngine.

[2015-10-29 06:18] gimite opened #199 "Remove people who are no longer in Google from the admin team"
Hello @prazuma @zestyping ,

Hope you are doing well.

Due to a policy, I need to remove you two from the admin team of the repository.
But since it's open source, we are still welcoming your contributions! From now on, please follow "For non-team members" section of:
https://github.com/google/personfinder/blob/master/CONTRIBUTING.md

[2015-10-29 06:18] #199 closed

[2015-11-06 02:12] gimite opened #200 "Log number of searches/adds by SMS"

[2015-11-06 07:28] #192 closed

[2015-11-09 00:55] gimite opened #203 "Fields overflows the container box in "add record" page in French UI"
https://screenshot.googleplex.com/82Vw18qJI

Verify if this is still an issue after the UI refresh.

[2015-11-09 01:04] gimite opened #204 "Not enough space for "not selected" in "add record" page in Japanese UI"
https://screenshot.googleplex.com/CE7WAsURV44.png

Verify if this is still an issue after UI refresh.

[2015-11-09 03:25] gimite opened #205 "Get privacy approval to search by person name + location"

[2015-11-09 03:37] gimite opened #206 "Make it clear that location fields may be missing in the records, when a user search with a location"
When a user searches for [hiroshi tokyo] and gets no results, we should tell the user that it doesn't always mean that there are no records with name "hiroshi" in Tokyo. All location fields are optional, so it's possible that the record doesn't have a city name.

[2015-11-09 03:46] gimite opened #207 "Add/update the FAQs explaining how "search by person name + location" works"
https://support.google.com/personfinder/?hl=en

[2015-11-09 07:24] gimite opened #208 "Create a list of important messages for translation"
Would be useful to prioritize translation to new languages, when we don't have time to translate all of the messages.

[2015-11-10 09:09] gimite opened #210 "PersonNoteTests.test_seeking_someone_regular_by_full_text_search is flaky"
_______ PersonNoteTests.test_seeking_someone_regular_by_full_text_search _______
tests/server_test_cases/person_note_tests.py:593: in test_seeking_someone_regula
r_by_full_text_search
    self.run_test_seeking_someone_regular()
tests/server_test_cases/person_note_tests.py:510: in run_test_seeking_someone_re
gular
    'believed_dead')
tests/server_test_cases/person_note_tests.py:234: in verify_upda

[2015-11-10 09:24] gimite opened #211 "Remove get_secret()"
In main.py:

    # TODO(kpy): Make these global config settings and get rid of get_secret().
    env.analytics_id = get_secret('analytics_id')
    env.maps_api_key = get_secret('maps_api_key')

[2015-11-11 08:59] gimite opened #212 "Move app/*.py into subdirectories"
It looks there are too many files in app/ directory. How about creating subdirectories to categorize them into e.g., HTTP request handlers, datastore models and utility modules?

[2015-11-12 09:34] gimite opened #214 "Repository admin page rendering is broken if one of the config contains "</script>""
We need to escape ```"</script>"```.
https://google.org/personfinder/test/admin
is currently broken.

[2015-11-12 22:41] ee7klt commented on #212
@gimite I'm new to open source and would like to start contributing. After I setup as per "Getting Started", how do I get assigned this issue?

[2015-11-13 01:20] gimite commented on #212
Thanks for the interest to the contribution! You can just claim that you will work on it here, and send a pull request.

[2015-11-16 15:10] ee7klt commented on #212
I've had a look at this and I think I'm still not familiar enough with the code base to be able to do this in an expedient manner. I will release this issue and try one of the other ones.

[2015-11-18 04:45] gimite opened #218 "Show a link instead of inline photo for photos served by other domains in zero-rating mode"
Currently, even in zero-rating mode, person record photos can be served by external domains if the user specified URL of the photo instead of uploading one.

We should probably proxy such photos via our domain in zero-rating mode. Alternative is to just show a link to the photo saying that payment may be required.

[2015-11-18 05:41] #140 closed

[2015-11-18 05:41] gimite commented on #140
https://github.com/google/personfinder/pull/190

[2015-11-18 09:16] #214 closed

[2015-11-19 05:10] #101 closed

[2015-11-19 05:11] gimite opened #219 "Update Django to newer version"
Should try using newer version of Django. Above all, it should allow us to use {% elif %} template tag :) Django version is specified in app/app.yaml.

[2015-11-20 04:03] gimite commented on #33
Will go with "bulk_read".

[2015-11-30 19:24] nilsbarth opened #221 "[BUG] view.Handler.post lacks error-checking for person"
In:
app/view.py
view.Handler.post is missing the error-checking for person that is present in view.Handler.get.

Specifically, it should include the following lines from `get`:
[code]

Currently `post` has:
[code]
...which fails if person is `None`.

(Easy to fix.)

[2015-11-30 19:58] nilsbarth opened #222 "[BUG] Django fails on unrecognized languages"
Action: Upgrade to Django 1.9?

I believe that Django fails to initialize for an unknown language, due to missing translation.
This has apparently been fixed in Django 1.9.
Specifically, this results in this error:
'NoneType' object has no attribute '_info'

This appears to be these Django bugs, now fixed:
https://code.djangoproject.com/ticket/18192
https://code.djangoproject.com/ticket/21055
See

[2015-11-30 20:09] nilsbarth opened #223 "[BUG] Write should implement get (even if as error), or gate"
The api.Write class in:
app/api.py
...does not implement get, so a GET request that is dispatched to it results in a webapp2 error.

Better would be to explicitly handle this, like throwing an NotImplementedError or similar.

[2015-12-01 06:28] gimite commented on #222
Thanks for the report. Should be fixed by #219 , so I will mark this as a duplicate of the bug.

We have implemented a workaround for this issue for zh-HK, but it doesn't seem working for zh-hk.

[2015-12-01 06:29] #222 closed

[2015-12-01 15:52] nilsbarth commented on #222
Perfect, thanks!

[2015-12-02 06:39] gimite commented on #218
Let's proceed with an implementation to show a link to the photo saying that payment may be required for now.

[2015-12-02 07:32] gimite opened #226 "Flaky server test: PersonNoteTests.test_seeking_someone_regular"
_________________ PersonNoteTests.test_seeking_someone_regular _________________
tests/server_test_cases/person_note_tests.py:597: in test_seeking_someone_regular
    self.run_test_seeking_someone_regular()
tests/server_test_cases/person_note_tests.py:582: in run_test_seeking_someone_regular
    'Expiry date of this record:': 'Jan 11, 2001, 12:00:05 AM UTC'})
tests/server_test_cases/person_note_te

[2015-12-03 01:21] #223 closed

[2015-12-03 01:26] #221 closed

[2015-12-03 01:41] #219 closed

[2015-12-03 01:42] gimite commented on #222
The latest stable version available in AppEngine is Django 1.4, so I updated to the version. Still it looks this issue is fixed. (I haven't made server release yet, though.)

[2015-12-03 01:44] gimite opened #228 "Try removing the hack for lang=zh-HK"
We have implemented a hack to treat lang=zh-HK as lang=zhhk to workaround a bug in Django. The bug  may be fixed by upgrading Django to 1.4. Let's try removing the hack and just use lang=zh-HK as is.

[2015-12-04 02:14] gimite commented on #205
Approved.

[2015-12-04 02:14] #205 closed

[2015-12-07 01:55] #211 closed

[2016-01-14 08:30] gimite opened #239 "Add a warning before showing recaptcha in zero-rating mode"
It should warn that zero-rating is not applied.

[2016-01-15 03:40] #218 closed

[2016-01-28 07:09] gimite opened #241 "FullTextSearchTests.test_search_by_name_only is flaky"
[code]

[2016-02-23 06:06] gimite opened #245 "Use cssselect() instead of range-based element lookup in the server tests"
Replace first(), firsttag(), alltags(), etc. with scrape.Document.cssselect() in server tests (under tests/server_test_cases). This allows more standard lookup using CSS selector + DOM operations.

Remove range-based methods in scrape.py once the replace is done.

[2016-03-11 20:39] dmartin84 opened #246 "d"

[2016-03-11 20:39] #246 closed

[2016-04-17 06:21] mreifman opened #247 "Translations missing for data disclaimer"
For es, plus I spot-checked a few other langauges:
https://github.com/google/personfinder/blob/master/app/locale/es/LC_MESSAGES/django.po#L1085

[2016-04-18 04:18] gimite opened #248 "Analyze why we make so many datastore requests"
"Trace" feature in the development console shows that it makes 64 datastore requests for a single request to load a static content:

![atzs12hqcrz](https://cloud.githubusercontent.com/assets/15363/14593621/b7fa35fa-0567-11e6-82bf-d4dca7643644.png)

Would be nice to analyze why, and may optimize it to reduce latency.

[2016-04-19 08:52] gimite commented on #247
Thanks for the report. Fixed for Spanish. We are working on adding other languages too.

[2016-04-19 08:52] #247 closed

[2016-04-21 03:55] gimite opened #255 "google.org/personfinder/global/tos should be internationalized"
It looks google.org/personfinder/global/tos always redirects to the English version:
http://www.google.com/intl/en/policies/terms/

It should link to the URL which shows localized version automatically, or change the URL based on the lang URL parameter.

[2016-04-24 04:15] gimite commented on #248
Also it may be worth consider serving some contents which are likely not overridden by resource bundles as completely static contents (e.g., jquery), or set HTTP cache header appropriately.

[2016-05-09 02:00] gimite opened #256 "HTTPException: Deadline exceeded in jp_mobile_carriers.py"
This exception happens occasionally:

HTTPException: Deadline exceeded while waiting for HTTP response from URL: http://dengon.docomo.ne.jp/inoticelist.cgi

For URL like this: http://google.org/personfinder/japan/results?role=seek&query=090xxxxxxx

We should handle the exception.

[2016-05-24 03:29] gimite commented on #102
Launched.

[2016-05-24 03:29] #102 closed

[2016-05-24 03:33] gimite opened #257 "Simplify the form to add person records and notes"
One idea is to show minimal set of fields (name, status, etc.) at the beginning, and allow users to expand the form for more fields.

[2016-07-07 09:54] #121 closed

[2016-07-11 05:07] skywhale commented on #245
Let me finish the remainder

[2016-07-11 05:20] gimite commented on #245
Ooh great, thanks. It would be great even if you only send pull request for what you have done so far.

[2016-07-11 08:53] gimite opened #263 "Continous testing for SMS feature"
Ideally we want continuous testing for SMS feature by actually send SMS from real devices in various countries.

[2016-07-11 08:58] gimite opened #264 "Document more APIs"
I believe photo and subscription API is not documented. We should document them too.

[2016-07-12 05:05] gimite opened #265 "Send email notification when there are many unreviewed records"
Send email notification to admins when there are many unreviewed records

[2016-07-12 05:08] gimite opened #266 "Better UI to allow multiple spam moderators"
Currently moderators need to skip pages randomly to reduce the risk of duplicated work (multiple people review the same records). Needs better solution for it.

[2016-07-12 05:11] gimite opened #267 "Metrics archive"
Automatically create a good summary page of Person Finder usage (num records, etc.) for each disaster.

[2016-07-14 06:01] skywhale commented on #245
#268 sent.

[2016-07-14 06:18] skywhale commented on #245
I mistakenly merged two tiny changes to the master. (one big one was reverted) Both should be safe, but could you please confirm?

[2016-07-14 06:31] gimite commented on #245
LGTM for the two changes.

[2016-07-14 13:43] skywhale commented on #245
The PR merged.

[2016-07-14 13:43] #245 closed

[2016-07-15 01:03] gimite opened #269 "Simplify the record creation UI"
Make it easier to use especially on mobile. e.g., Only show the required fields initially, and allow users to *expand* the form to see the rest of the fields.

[2016-07-15 01:03] #269 closed

[2016-07-22 08:03] gimite commented on #89
Dup of #265

[2016-07-22 08:03] #89 closed

[2016-07-22 08:04] gimite commented on #98
Dup of #83

[2016-07-22 08:04] #98 closed

[2016-07-22 08:06] #78 closed

[2016-07-22 08:07] gimite commented on #119
Dup of #77

[2016-07-22 08:07] #119 closed

[2016-07-22 08:09] gimite commented on #70
Somewhat done with full text search.

[2016-07-22 08:10] #23 closed

[2016-07-25 05:21] nmakida commented on #91
Yes, bulk download cannot be allowed to prevent commercial use (insurance companies, etc).

[2016-07-26 01:00] #91 closed

[2016-08-03 08:04] Stephanie1125 opened #271 "TypeError: <lambda>() got an unexpected keyword argument 'namespace' (py.test version: 2.9.2)"
Update py.test version from 2.6.4 to 2.9.2 and appear the following error:
[code]
This error is fixed by edited the code in tests/unit_tests.py:
Change the line 44 from
[code]
to
[code]

[2016-08-08 05:14] #271 closed

[2016-08-08 05:18] gimite commented on #271
Once you fix the issue, click "Close issue" button instead of putting "Fixed" in the comment. (I have just done for this one.)

Also, you should also refer from your pull request to the issue by putting "#" + issue number somewhere in your pull request description.

[2016-08-12 08:09] gimite opened #275 "Load third party libraries with PIP"
We should probably follow "Using pip requirements files" section here to install third-party libraries:
https://cloud.google.com/appengine/docs/python/tools/using-libraries-python-27
instead of directly putting third party library *.py files under "app" directory.

[2016-08-24 07:05] matthew-z opened #280 "Kanji Handling problems(Chinese and Japanese)"
Currently full_text_search will try to romanise kanji, but it has some problems.

A few Chinese kanji has a different pronunciation and romaji when it is a part of a family name. For example, "曾" could be romanised into "Ceng" in most cases, but it must be romanised into "Zeng" when it is used as a family name. This transformation is quite fixed, so a dictionary about it can tackle it easily. In a

[2016-08-24 08:19] gimite commented on #280
Thanks for the feedback!

For Chinese, we currently rely on unidecode library. Do you know of any other library which supports the person name specific romanization, or a list of exceptions available somewhere? Or maybe can you make one?

We have special handling for Japanese, based on a dictionary here (big):
https://raw.githubusercontent.com/google/personfinder/master/app/japanese_name_location_

[2016-08-24 11:47] matthew-z commented on #280
No problem, I have added some supports for romanising Chinese family name at #282.

[2016-09-08 04:49] nomadmtb opened #286 "Specific Docker Version?"
Was the Dockerfile built using a specific version of the Docker engine?  I tried to look for some Docker versions that were required in the DeveloperGuide but I didn't see any.  There were a couple issues with building the image and I may have a few fixes for it if anyone needs it.  It was mainly cleaning up some of the commands.

I'm running Docker version 1.12.0, build 8eab29e

[2016-09-08 05:41] gimite commented on #286
Thanks for the information.

The docker file was provided by a contributor, and I don't know if it is for any specific version of Docker. It would be great if you send any pull request to make it work with the latest version of Docker.

[2016-09-08 05:44] nomadmtb commented on #286
You are welcome and no problem at all.  I can get the changes added here shortly and I'll submit a pull request here within a day or two.

[2016-09-13 04:23] gimite opened #289 "Support swapped order of Chinese/Japanese names in full text search"
Copied from https://github.com/google/personfinder/pull/282#issuecomment-245865103

-----

BTW, I found that [create_romanized_query_txt](https://github.com/google/personfinder/blob/bcec681718ae454ced01d00fe839026b18ab80ad/app/full_text_search.py#L98) and  [make_or_regexp](https://github.com/google/personfinder/blob/bcec681718ae454ced01d00fe839026b18ab80ad/app/full_text_search.py#L32) may cause ma

[2016-09-13 04:26] gimite commented on #289
Some potential solutions:

* Generate both order: ```("姚明" OR "Yao Ming" OR "Ming Yao")```
* Put each word into a separated quote: ```("姚明" OR "Yao" "Ming")```
    * It may cause an issue that the two words match random different parts in the index...?

[2016-09-21 09:01] Stephanie1125 opened #291 "RedirectTooLongError on searching/creating record with kanji"
This error appears when searching or creating a record using kanji.

[code]

[2016-09-25 12:50] d268 commented on #256
I'm looking into this bug. I think we can just add some try-catch around `urllib2.urlopen` inside the `look_up_number` function in `jp_mobile_carriers.py` ([here](https://github.com/google/personfinder/blob/master/app/jp_mobile_carriers.py#L150) and [here](https://github.com/google/personfinder/blob/master/app/jp_mobile_carriers.py#L157)).
My question is: Should we wrap the exception in our own cu

[2016-09-26 02:52] gimite commented on #256
We can either just throw the exception as is (as we currently do) or raise a customized exception. In either case, result.py should catch the exception and show a nicer error message, saying that we encountered an error connecting to our backend.

[2016-09-26 03:05] Stephanie1125 opened #293 "Google virtual keyboard element image broken for Arabic"
![bug](https://cloud.githubusercontent.com/assets/15961861/18822321/7e5f4168-83e9-11e6-9f0f-a479200ebc9c.png)

[2016-09-26 03:58] gimite commented on #293
Can you put the image directly instead of using screenshot.googleplex.com? Because screenshot.googleplex.com is only visible to Googlers, but non-Googlers also look at issues.

I often use screenshot.googleplex.com during code reviews with Googlers because it's convenient and usually only the reviewer and the author reads code reviews. But we should not use it for issue description.

[2016-09-26 04:03] Stephanie1125 commented on #293
i see! Uploaded image.

[2016-09-26 10:05] Stephanie1125 commented on #197
I think this is fixed in new UI

[2016-09-26 10:08] Stephanie1125 commented on #96
I believe this is fixed in the new UI
![info](https://cloud.githubusercontent.com/assets/15961861/18830644/8899735a-841c-11e6-88c8-19060034dd46.png)

[2016-09-27 04:14] gimite commented on #197
Yeah thanks. Can you put the pull request ID (prefixed with "#") which fixed the bug here, and mark this as closed?

[2016-09-27 04:15] gimite commented on #96
Yes. Can you put the pull request ID which fixed this issue here and mark this as closed?

[2016-09-27 07:30] Stephanie1125 commented on #65
This is added in the new UI
![photo_upload](https://cloud.githubusercontent.com/assets/15961861/18864115/c27832f6-84cf-11e6-9ee0-769d62280431.png)

[2016-09-27 07:33] #197 closed

[2016-09-27 07:43] #96 closed

[2016-09-27 07:45] #257 closed

[2016-09-27 07:55] Stephanie1125 commented on #189
Is update message needed for new UI too?
![search](https://cloud.githubusercontent.com/assets/15961861/18864854/3a1aa980-84d3-11e6-965e-76f78b9e7173.png)

[2016-09-27 08:22] Stephanie1125 commented on #87
Should we do this in the new UI too (hide the Photo section in Status card in the create page)?
But I think it might not be very confusing in the new UI cause we separate two photo section with cards (one in "Identifying information" card and the other in "status" card) and also we have notes("If you have a photo of this person, upload it or enter its URL address." and "To attach a photo to this n

[2016-09-27 08:32] Stephanie1125 commented on #73
I may think about and work on this at the time when I work on the history page (for generating the history summary report).

[2016-09-28 03:52] gimite commented on #189
Let's leave it now and ask @nmakida to confirm. We may remove the message itself.

[2016-09-28 03:55] gimite commented on #87
Hmm I feel it's still confusing, but you can confirm with @nmakida .

[2016-09-28 03:56] gimite commented on #73
Sounds good.

[2016-09-28 04:01] Stephanie1125 commented on #87
okay, i think we can discuss about this on Friday's meeting

[2016-09-28 04:03] Stephanie1125 commented on #189
Okay! Let's discuss about it this Friday

[2016-10-07 01:18] #206 closed

[2016-10-07 01:19] #87 closed

[2016-10-08 02:33] gimite opened #303 "Add server test for SMS interface in Spanish, French and Haitian Creole"
Currently PersonNoteTests.test_sms_api only tests English queries:
https://github.com/google/personfinder/blob/master/tests/server_test_cases/person_note_tests.py#L2633

We should add test for Spanish, French and Haitian Creole queries there.

You can find query keywords for each language here:
https://github.com/google/personfinder/blob/master/app/api.py#L627

Some notes on the SMS interface:
Per

[2016-10-08 02:38] gimite opened #304 "Support all languages in SMS interface"
Maybe put "Search PERSON_NAME" etc. to .po file and either manually or automatically import the translation. Currently we need code change to add support for each language.

[2016-10-11 01:41] #189 closed

[2016-10-11 01:49] #204 closed

[2016-10-11 05:05] #203 closed

[2016-10-11 05:59] #65 closed

[2016-10-20 04:56] gimite opened #309 "Should use /add_note instead of /view to handle POST request to add a note"
Currently when you submit a note in /add_note page, it posts against /view URL:
https://github.com/google/personfinder/blob/master/app/resources/add_note.html.template#L53
There is the same logic in both add_note.Handler.post and view.Handler.post, but actually add_note.Handler.post is never used.

We should let the form in /add_note to post against /add_note instead of /view, and delete view.Hand

[2016-10-21 05:41] Stephanie1125 opened #311 "Should add Name or mobile phone on the top of search box when disable full_text_search"
+ Disable full text search
![disable full text search](https://cloud.githubusercontent.com/assets/15961861/19587834/62b64efe-979c-11e6-8c7d-172d5b34d7ab.png)

+ Enable full text search
![fulltextsearch](https://cloud.githubusercontent.com/assets/15961861/19587840/6ec20abc-979c-11e6-8fad-fa2cb44f4186.png)

Should keep the name or mobile phone number when full text search is disable because we remov

[2016-10-21 08:23] #311 closed

[2016-10-25 11:29] #76 closed

[2016-10-25 20:33] yasinS commented on #120
Hi @gimite, should be able to assist with README cleanup/any other documentation but looks like I'll require write access to the Wiki. Thanks!

[2016-10-26 01:59] #309 closed

[2016-10-26 02:01] #256 closed

[2016-10-27 10:06] divayprakash commented on #275
@gimite I'd like to take this up. Could you provide a bit more info on how to go about it?

[2016-10-27 12:04] myoshimu commented on #255
The issue is not happening in [current production](https://google.org/personfinder/global/home.html), but I realized that the tos page in latest code shows 500 internal server error during local test with the log below:
====
：
  File "/Users/kmiki/pf/app/tos.py", line 73, in get
    tos_url=url)
UnboundLocalError: local variable 'url' referenced before assignment
INFO     2016-10-24 01:39:44,286 m

[2016-10-28 01:23] gimite commented on #255
The original bug no longer reproduces and another bug mentioned above was fixed.

[2016-10-28 01:23] #255 closed

[2016-10-28 01:35] gimite commented on #275
That would be great! Can you follow "Installing a third-party library" section in the document linked above to install babel, pytz, recaptcha, simplejson, unidecode and xlrd? They are currently put directly under "app" directory. (Not sure if all of them are provided with PIP. You can leave those not provided with PIP for now.)

In Person Finder, "app" is the root directory for AppEngine (where ap

[2016-10-28 06:10] myoshimu commented on #200
Hi there,
I'd like to ask some clarification:) In which page are you expecting to see the # of searches/adds by SMS?(e.g. admin page,  Google Analytics)

[2016-10-28 07:11] gimite commented on #200
It would be nice if we can see it in Analytics. Or it's also fine to add it to admin/statistics page @Stephanie1125 added recently.

[2016-10-29 18:00] divayprakash commented on #275
@gimite Thanks for the info! I'm working on it.

[2016-11-02 02:46] divayprakash commented on #275
@gimite I've run into a bit of an issue. I've gone through the following steps -
- Moved the `babel`, `pytz`, `simplejson`, `unidecode`, `xlrd`, `recaptcha` and `babel` folders from `app/` to `app/lib/`
- Created the `requirements.txt` file using `pip freeze` to get the required dependency info.
- Created the `appengine_config.py` file under `app/`

However, after I've started the app using `tools

[2016-11-02 02:55] gimite commented on #275
Hm I don't know why. Can you push your change to Github and point me the URL of the repository so that I can take a look?

Maybe you should reinstall the libraries with "pip install" command as instructed in the doc instead of just moving them from app/ directory. I'm not sure but the expected directory structure may be different.

[2016-11-02 02:57] divayprakash commented on #275
I tried reinstalling using `pip install` but pip just returns the `requirement already satisfied` message saying the library is present in `usr/bin.....`

[2016-11-02 02:57] divayprakash commented on #275
I'll just push my changes now.

[2016-11-02 03:28] gimite commented on #275
Maybe this issue?:
http://stackoverflow.com/questions/25990036/dev-appserver-py-doesnt-load-appengine-config-py

Note that, to make the suggested change in the answer in the page, you also need to modify app/main.py to support a new way to point to the script.

[2016-11-21 09:32] githaruo opened #318 "Merge redundant i18n messages."
Merge and clean up translation setting files.

[2016-11-30 01:03] gimite opened #319 "Should be able to enable/disable email notification for unreviewed records per repository"
Should add a per-repository boolean config to enable/disable email notification.

This may sound opposite to what I suggested in the code review of #265, but I found that this is better to have. We can still keep the email address a global config, but we should have another boolean config per repository to enable/disable email notification.

We definitely don't need email notification for reposito

[2016-12-02 04:59] myoshimu opened #320 "Upgrade classic Google Analytics tracking code(ga.js) to GTM or Universal Analytics"
I would propose re-tagging classic Google Analytics with the new tracking code analytics.js.
https://developers.google.com/analytics/devguides/collection/upgrade/
To replace the code, using Google Tag Manager (GTM) will be alternative option for further tagging flexibility.

[2016-12-06 14:08] gimite commented on #320
Let's go with GTM per discussion in the meeting.

[2017-01-09 21:31] AwesomeTurtle commented on #275
Hey, I am working on this issue also. I wondering if it is a good idea to update directly the `Dockerfile`, thus, each contributors will be able to run the entire project without install any dependencies on his own computer (assume docker-engine is installed).
In this `Dockerfile` we could be able to create app/lib directory then install each dependencies inside this lib with `requirements.txt` fi

[2017-01-10 07:10] gimite commented on #275
One problem is that there are many contributors who don't use Docker setup as a main environment (including me). Updating Dockerfile sounds good, but we also want to keep non-Docker setup easy.

[2017-01-26 01:53] gimite opened #327 "More detailed document of how to use Person Finder"
https://www.google.org/personfinder/global/home.html
just shows high level overview of the product. It would be nice if we have more detailed document of how to use Person Finder, which explains step-by-step instruction for typical flows (add a person record, search for a person) with screenshots.

It should be done after launching the UI refresh.

[2017-01-30 02:57] #275 closed

[2017-01-30 03:11] gimite opened #329 "Make our code work with the latest unidecode library"
It looks our code doesn't work if we update unidecode library to the latest version (per @AwesomeTurtle ).

We should make it work with the latest unidecode, and move it from app/unidecode to app/vendors (by adding it to requirements.txt).

[2017-01-30 16:58] martialp commented on #329
I tried to update the unidecode library to the lastest version, and I didn't notice any problems. I think it is safe to update.

[2017-01-30 17:06] AwesomeTurtle commented on #329
Agree with @martialp , I just ran

[code]

And there is no problem. So we could remove `unidecode` from `app/` and install it with pip into `app/vendors/`
Sorry !

[2017-01-30 17:11] AwesomeTurtle opened #331 "App Engine SDK from Dockerfile is out-dated"
`Dockerfile` run App Engine SDK (version: 1.9.25). But this version does not support Django 1.9

[2017-01-31 04:49] gimite commented on #331
Thanks for the report. Yes, this should be updated.

[2017-01-31 05:24] gimite commented on #329
Thanks for the confirmation. I send a pull request to update it for review.

[2017-02-01 01:12] #331 closed

[2017-02-01 17:37] AwesomeTurtle commented on #228
I am working on this issue.
After renamed `zhhk` to `zh-HK`

`$ mv personfinder/app/locale/zhhkt personfinder/app/locale/zh-HK`

I ran tests (everything seems to be ok).
But I found an error
[code]

I am working with Docker, so I wondering if `pillow` needs to be installed on development environment ? If yes, we could add `pillow` to the `Dockerfile`

[2017-02-02 00:44] #329 closed

[2017-02-02 01:30] gimite commented on #228
Thanks for working on this!

Yes, running tests requires PIL. Adding PIL to Dockerfile sounds good.

BTW If you run tests without PIL and found only photo-related tests fail, then that should be fine. It's unlikely that this change affects photo features.

When you work on this change, can you also remove workarounds in code which handles "zhhk" locale? You can find them here:
https://github.com/g

[2017-02-03 03:21] #318 closed

[2017-02-03 03:42] gimite commented on #241
Need to first confirm that this still reproduces.

[2017-02-03 03:47] gimite commented on #10
Dup of #162

[2017-02-03 03:47] #10 closed

[2017-02-03 06:05] #291 closed

[2017-02-03 06:44] gimite opened #338 ""About You" is not i18n-ed"
In a form to add a note to a person record:

![eeguyhg5ufn](https://cloud.githubusercontent.com/assets/15363/22860335/b8591274-f13d-11e6-80f7-1a8634288d13.png)

[2017-02-03 06:48] gimite opened #339 "Bad layout of subscription label"
In a form to create a new person record:
https://screenshot.googleplex.com/vWYgKQrPCZq
We should probably move the check box to the right and have more space for the label.

[2017-02-04 02:12] AwesomeTurtle opened #340 "Add Travis Integration ?"
I made this continuous integration using Travis. I wondering if we can add it to the main project or if it is useless ?

https://github.com/AwesomeTurtle/personfinder/tree/awesometurtle-travis-integration

[2017-02-06 02:43] gimite commented on #340
Oh that looks nice. How can we add one?

[2017-02-06 03:02] AwesomeTurtle commented on #340
I don't know how it works from your account.
For my part, I have to click on my account icon, then `integrations`. Choose Travis CI. Configure it by adding `personfinder` repo.
Travis will trigger when a `.travis.yml` will be in the next commit.

You can find another method [there](https://github.com/mbonaci/mbo-storm/wiki/Integrate-Travis-CI-with-your-GitHub-repo#integrate-your-github-project-wit

[2017-02-06 05:01] gimite commented on #340
So we first need to put .travis.yml into our repository, right? Maybe can you send a pull request to add that?

[2017-02-07 02:06] gimite opened #341 "Icons in the home page are stretched vertically on mobile"
https://screenshot.googleplex.com/e7xwR8NcFBg

Note that this page is implemented using the dynamic resource bundle feature (not in the Github repository). Only admins can see and modify the source.

[2017-02-07 22:11] AwesomeTurtle commented on #340
I could send a pull request. But I made some major modifications: I added a docker-compose, and modified Dockerfile. It is easier to work with Docker on a Travis Integration.
I can send a pull request, and we will check if modifications are too majors.

[2017-02-08 00:50] gimite commented on #340
Sounds good, thanks!

Just curious, what is benefit using docker-compose in this case, with just a single docker container?

[2017-02-08 01:23] AwesomeTurtle commented on #340
A docker-compose is better than using a bash script for launching container (setting shared volumes, ports,etc)  and it is more scalable and maintainable. Moreover, the app could be scalable in the future ( if we want to add more services, I don't know..)

[2017-02-08 01:24] gimite commented on #340
Thanks for explanation! Then using docker-compose sounds good.

[2017-02-08 05:34] #228 closed

[2017-02-09 14:37] gimite commented on #340
Configured one and looks working. Great, thanks!
https://travis-ci.org/google/personfinder

[2017-02-09 15:31] AwesomeTurtle commented on #340
Yes, well done !
We could clean up useless files related to Docker, but later.

[2017-02-10 01:07] #340 closed

[2017-02-10 13:43] AwesomeTurtle commented on #303
Hi !
Can you provide more details about this issue ?

[2017-02-12 07:06] gimite commented on #303
Updated the description. Let us know if you have any further questions.

BTW I will go to vacation from now until Feb 28. @kevinalle in our team will reply any questions and review pull requests during my vacation. But he may ask you to wait for my answers/reviews in some cases. Sorry for inconvenience.

[2017-03-02 09:01] gimite opened #344 "Move the language selector to the top"
We should probably move the language selector to the top:

![nmqvnhaifei](https://cloud.githubusercontent.com/assets/15363/23500037/df745a20-ff71-11e6-996d-8fa57b1bc698.png)

It should be inside the top gray header if possible. If it's hard, it may be also acceptable to put it below the gray and white headers.

Reason: For users who open Person Finder in foreign language, it should be easy for the

[2017-03-02 09:09] gimite opened #345 "Allow spelling variants of Indian names"
This is a feedback provided by someone:

I'm not familiar with Indian languages, so I don't know what can be a feasible solution. Suggestions are welcome.

Any existing library to provide a list of equivalent names, or perform transliteration of Indian names? Would it be sufficient with a some kind of a dictionary? Can it be solved with some machine learning?

[2017-03-03 04:31] gimite opened #346 "DB to NDB migration"
https://cloud.google.com/appengine/docs/standard/python/ndb/db_to_ndb

Among others, NDB API provides automatic caching of entities (explained in the page below), which should make the app faster.
https://cloud.google.com/appengine/docs/standard/python/ndb/

[2017-03-03 04:44] gimite commented on #248
#346 may be one way to solve this.

[2017-03-06 03:35] gimite opened #347 "Apply Material Design to ui=small UI"
We now use Material Design in Person Finder, but not for the "small" UI used for embedding to other sites:
https://google.org/personfinder/test?ui=small
We should also apply Material Design to this page to make it look consistent with the default UI.

[2017-03-07 17:22] waseem18 commented on #346
Hi @gimite ,

I'm really interested in contributing to this project and would like to start by resolving this issue.

I'll go through the complete code first and then will start the migration. Will notify you my progress here!

[2017-03-08 01:57] gimite commented on #346
Great, thanks!

@githaruo FYI

[2017-03-08 20:48] waseem18 commented on #346
@gimite I have gone through the code and the `db to ndb migration` documentation provided by google cloud. I have also started the migration just now and will complete it soon! :) :+1:

[2017-03-21 19:06] waseem18 commented on #346
90% of the migration is done. Will send a PR by this weekend. :)

[2017-03-28 13:28] waseem18 commented on #346
Migrating tests!

[2017-03-29 01:29] gimite commented on #346
Great progress, thanks! Looking forward.

[2017-03-29 04:07] gimite opened #349 "Consider putting all configs into a single entry"
Currently we put each config (key-value pair) into a single ConfigEntry entry in datastore:
https://github.com/google/personfinder/blob/master/app/config.py#L123

This causes a lot of datastore access. We should probably consider putting all configs for a repository into a single entry, which should reduce the number of datastore access significantly, and make the app load faster.

Note that datas

[2017-03-29 05:25] waseem18 commented on #349
@gimite I'll look into it along with #346 :+1:

[2017-03-29 06:12] gimite commented on #349
Thanks for the interest, but @githaruo may be looking into this. @githaruo Do you want to take this?

[2017-03-29 07:06] githaruo commented on #349
@gimite I'm okay to pass #346 to @waseem18.

[2017-03-29 07:11] githaruo commented on #349
Sorry, I'm saying #349 (this thread).

[2017-03-29 07:18] gimite commented on #349
OK, thanks. Then @waseem18 feel free to take this issue too!

[2017-03-29 07:30] waseem18 commented on #349
@gimite Happy to look into that! :)

[2017-04-04 14:32] RajibHossen commented on #344
I will work on this issue.

[2017-04-05 01:54] gimite commented on #344
Great, thanks for your contribution!

[2017-04-05 06:23] RajibHossen commented on #344
Made a pull request changing codes according to your comments.

[2017-04-05 06:39] gimite opened #351 "The top bar's hight is too big in the global home page"
The gray top bar's hight is too big in the global home page:
https://google.org/personfinder/
![cuukuse0mcy](https://cloud.githubusercontent.com/assets/15363/24692864/ec355c1e-1a15-11e7-89c7-a6d72fa2a084.png)

I believe it should be in the same hight as in other pages like:
https://google.org/personfinder/japan
![vwzodgjzxof](https://cloud.githubusercontent.com/assets/15363/24692878/0064a0dc-1a16-

[2017-04-05 06:42] gimite opened #352 "Redesign the global home page"
We want to redesign the global home page:
https://google.org/personfinder/
To make active repositories more discoverable when we have any.

We first need to brainstorm UI design for it.

[2017-04-05 07:32] gimite commented on #351
Looks like it is caused by .header rule in sidebar.css. I believe the entire .header rule is unnecessary, maybe an unexpected leftover from the old UI. It also causes a needless horizontal scroll bar.

[2017-04-05 07:45] RajibHossen commented on #351
I will work on this issue.

[2017-04-05 07:56] #344 closed

[2017-04-05 08:39] #351 closed

[2017-04-05 09:16] gimite opened #354 "Fix CI failure"
CI started failing recently:
https://travis-ci.org/google/personfinder/builds/218793760

Looks like zlib is missing in the Docker image? Not sure why it suddenly started failing, though.

[2017-04-05 09:18] waseem18 commented on #346
@gimite I'm constantly working on this in my free time. Currently busy with my office work. Will make a PR within a week. :+1:

[2017-04-05 10:36] RajibHossen commented on #354
I want to work on this issue. Could you please provide me some guidelines or right directions about it?

[2017-04-05 11:06] AwesomeTurtle commented on #354
It seems that Pillow was updated and now zlib is required. So we need to update Dockerfile and install zlib.

[2017-04-05 12:03] RajibHossen commented on #354
I am working on this.

[2017-04-05 12:29] AwesomeTurtle commented on #354
This [issue](https://github.com/python-pillow/Pillow/issues/1412) can help.

We have two solutions:

+ Install zlib
+ Use a specific `Pillow` version

[2017-04-05 12:49] RajibHossen commented on #354
Hello, My host machine is Ubuntu 16.04. In my host machine, I can successfully build the image from Dockerfile, then I run the image
`~/Sources/pf$ sudo docker build -t personfinder-local .`
`~/Sources/pf$ sudo docker images`
`[sudo] password for rajib: `
`REPOSITORY           TAG                 IMAGE ID            CREATED             SIZE`
`personfinder-local   latest              ef96376d6411

[2017-04-05 13:21] AwesomeTurtle commented on #354
All right, I have an idea :

At each build, Travis downloads the latest version of `phusion/baseimage`.

Your version is past from 2 weeks, so your version of `phusion/baseimage` seems working. We need to freeze a specific version of `phusion/baseimage` :

[code]

becomes

[code]

[2017-04-05 13:23] RajibHossen commented on #354
Hello, I changed the pillow version to 3.1.0 and docker build fails,then I again changed the version to 4.1.0
`RUN pip install --upgrade pip && pip install pytest lxml cssselect pillow==4.1.0`
and this built successfully.
Should I commit the changes and see if build works?

[2017-04-05 13:29] AwesomeTurtle commented on #354
Add a Travis Integration on your PersonFinder fork and you will be able to run your build on your own CI. 😄
If it works on your own Travis. You can submit a PR

[2017-04-05 13:41] RajibHossen commented on #354
I think it's working with pillow 4.1.0
[PR](https://github.com/google/personfinder/pull/355)
Would you take a look. Also I will integrate Travis in my fork and will test.

[2017-04-06 01:26] #354 closed

[2017-04-06 01:27] gimite commented on #354
Fixed with #355. Thanks!

[2017-04-06 06:51] RajibHossen commented on #354
Integrated Travis in my own fork. It works as expected.
Thanks @AwesomeTurtle

[2017-04-10 22:03] mcizol commented on #352
How would be, if we stay in google.org main design? I  think it's very simple design and look's well.

Here I made a example:
![google_person_finder](https://cloud.githubusercontent.com/assets/7622781/24884566/46e0413c-1e4a-11e7-90d0-1d503480f6c5.png)

[2017-04-11 00:52] gimite commented on #344
As I mentioned in #356, I found an issue with #350's UI on mobile, decided to move it below the header bar, and made a change in #356. Sorry for back and forth.

[2017-04-11 01:29] gimite commented on #352
Thanks for the design mock! It looks nice.

But we probably want to keep the overall look&feel of the site, like the header and the menu. Person Finder is considered somewhat independent of google.org, even though it belongs to google.org domain. So we won't use google.org logo, for example.

As I explained above, the goal of this issue is to make active repositories more discoverable from the glo

[2017-04-12 01:07] gimite opened #357 "Broken layout in "Information for responders" page on mobile"
https://google.org/personfinder/global/responders.html
https://screenshot.googleplex.com/WkKFGxJ3s8H

The HTML snippet overflows the white rectangle.

Note that this page is hosted as a dynamic resource (not in Github), and requires admin permission of google.org/personfinder to edit it.

[2017-04-12 06:15] waseem18 commented on #346
@gimite I'm looking into server tests now. As soon as I'm done with it, I'll push the code to a different branch here so that you can have a look and test it.

[2017-04-14 05:36] githaruo opened #358 "Change search result page to AMP format."
[About AMP](https://www.ampproject.org/)
The project enables the creation of websites and ads that are consistently fast, beautiful and high-performing across devices and distribution platforms.

Person Finder's search results are mostly following pages.
- global home page https://google.org/personfinder/global/home.html
- repository home page https://google.org/personfinder/japan

Both pages are

[2017-05-11 16:22] AwesomeTurtle opened #359 "[discussion] Cloud Platform"
Hi !

It is not really an issue, but I am just wondering : what is the workflow of this application ?

Could we enable a Continuous Deployment ? Each time a PR is merged into master, Travis could build a new Docker image of `Person Finder` and deploy it with Kubernetes or whatever to Google Cloud Platform on a `dev` server. Like so, each time a new release is ready, production server will pull lat

[2017-05-12 01:35] gimite commented on #359
Thanks for the suggestion!

We are currently deploying it manually. Automating it is an atractive idea, but I believer we want to control when to push.

* We often do cacual manual testing on production deploys. Unfortunately our automated tests are not perfect...
* We deploy with special care while Person Finder is actively used for any disaster. We really don't want to break our production durin

[2017-05-12 01:46] AwesomeTurtle commented on #359
Ok, I understand ! Thanks for your answering. I am closing this discussion.

[2017-05-12 01:46] #359 closed

[2017-06-30 04:58] gimite opened #360 "Use Accept-Language header as the default UI language"
We should use Accept-Language header as the default UI language, instead of the first one in the language list for the repository.

We should use the language even if the language is not in the language list for the repository. We can still render most of the contents in the language, except for the repository title (disaster name).

Once the user manually choose a language from the language menu,

[2017-07-03 06:38] gimite opened #361 ""Write permission" checkbox state is not preserved in API key management page"
If you give a write permission to an API key and go back to its API key edit page, [Write permission] checkbox is unchecked. So if you save the key as is, the write permission is removed.

[2017-07-25 02:47] sup4boyz commented on #311
Harold Junior White JR.
(213)300-4038

[2017-07-25 02:56] sup4boyz commented on #311
LOS  Angeles, CA , 90069
 8491 West Sunset Blvd.
 West Hollywood, CA. 90069

[2017-07-26 01:52] AwesomeTurtle opened #362 "Continuous Integration failed"
Since last build (2 months ago), CI does not success.

6 tests have failed especially into  `person_note_tests.py` file.

Code has not changed since 2 latest months, so I suppose we have a requirement who is not fixed. And this requirements has been upgraded beetween may and today.

[2017-07-26 02:18] AwesomeTurtle commented on #362
(I am on it btw 😄 )

[2017-07-26 03:42] gimite commented on #362
Great, thanks!

[2017-07-26 03:51] AwesomeTurtle commented on #362
If you have any ideas, I reverted my fork to this commit [4c0acf6](https://github.com/google/personfinder/commit/04c0acf628b2ada903884e2b3f72bad33d398056) and tests failed always at the same place.
Also, I fixed Python requirements with "good" version from 3 months ago. And It does not work.

[2017-08-04 05:39] gimite opened #363 "The layout of the map is weird on mobile"
https://goo.gl/photos/ChASwkn3Mfq6mNvq7

It should be wider.

[2017-08-04 05:41] gimite opened #364 "Only the text part is clickable on [I'm looking for someone] button etc."
The whole button should be clickable.

e.g., On:
https://google.org/personfinder/japan

[2017-08-04 06:48] #267 closed

[2017-08-04 07:07] gimite commented on #346
Hello @waseem18 ,

What is your progress so far?

It would be great if you share your change so far e.g., as a pull request, even if it's still incomplete. Then we can start reviewing it, or maybe one of us can take over your work in case you have difficulty continuing the project.

[2017-08-08 08:07] #341 closed

[2017-08-28 08:22] #363 closed

[2017-09-04 06:28] #362 closed

[2017-09-20 05:06] gimite opened #374 "Should have admin UI to set timezone of a repository"
We have config for timezone (time_zone_offset and time_zone_abbreviation), but it looks we have no UI for them.

[2017-09-20 05:08] gimite opened #375 "Allow to set timezone by name instead of offset"
It would be better to set timezone by name (e.g., "Los Angeles") instead of the offset number. It would also allow considering DST.

Related: #374

[2017-09-20 06:04] gimite opened #376 ""About You" not i18ned"
"About You" is not i18ned in add_note_base.html.template.

[2017-09-21 04:15] gimite opened #377 "Internal server error on multiview.py with invalid record ID"
multiview.py returns Internal server error when one of the specified IDs is invalid. It should return 404 or something instead.

[code]

[2017-09-27 01:30] gimite opened #379 "Custom text should be centered in the repository home page"
Horizontal alignment of custom text, should be centered below action buttons.

![vuqieerycnr](https://user-images.githubusercontent.com/15363/30891540-e066e1c2-a36e-11e7-93eb-a15f4229d108.png)

[2017-09-27 01:32] gimite opened #380 "Share buttons not aligned on mobile"
![3sqmaagwlcw](https://user-images.githubusercontent.com/15363/30891583-0a91a2c0-a36f-11e7-864f-0cc320770e96.png)

[2017-10-03 06:19] myoshimu opened #381 "gtm.html.template includes event type by default"
gtm.html.template is including "event" parameter by default so the "search" event tag fires automatically regardless the event action. So removing the event type from the template required.

[2017-10-03 08:19] gimite commented on #376
It was dup of #338.

[2017-10-03 08:19] #376 closed

[2017-10-04 00:57] #361 closed

[2017-10-04 00:57] #338 closed

[2017-10-04 01:02] #380 closed

[2017-10-20 01:51] #374 closed

[2017-10-29 21:11] singhai0 commented on #345
I remember a friend mentioning this issue a few days ago. My first instinct was to use simple fuzzy matching (something akin to what [fuse](http://fusejs.io/) does). While it works well on names, I'm not sure about the scale of the problem (for instance, how it would work with a large number of entries).

Reverse transliteration using deep belief networks is also a possibility.

What say @gimite?

[2017-10-30 01:16] gimite commented on #345
We use AppEngine's Search API (*1):
https://cloud.google.com/appengine/docs/standard/python/search/
So it should be implemented on top of it.

e.g., There are multiple scripts with the same sound in Japanese e.g., 山田, やまだ, ヤマダ for Yamada. To allow them to match with other variants, we normalize all of them into Latin alphabet (Yamada) in the index:
https://github.com/google/personfinder/blob/maste

[2017-11-15 07:45] gimite commented on #381
@myoshimu Is this something @KenrySanchez can help? Or do you think it's rather easier if you work on it by yourself?

[2017-12-01 03:58] gimite opened #388 "Serve the global home page without redirect"
Serve the global home page at / directly instead of redirecting it to /global/home.html.

[2017-12-05 08:46] githaruo opened #390 "AMP page contains script tags"
Hi team,

I found some script tags in the [AMP start page](https://www.google.org/personfinder/japan/amp_start?#development=1). See console on your chrome browser.

[2017-12-05 08:57] gimite commented on #390
Oh I see. I wonder why it's not caught by:
https://search.google.com/test/amp?id=TK4IrNMOAgVCDyq-WHULIA

The two scripts are for Analytics and Google Tag Manager. Looks like they both provide a way to support AMP. Can you take a look? @myoshimu may know some hints.

[2017-12-07 05:12] #388 closed

[2017-12-19 01:07] #379 closed

[2018-01-15 05:26] githaruo commented on #390
I chatted with @myoshimu about this part. I'll add amp-analytics tags to gtm.html.template.

[2018-01-15 06:09] gimite commented on #390
Thanks for taking a look!

[2018-03-08 21:26] Ernesttc opened #391 "Ernest Coleman"

[2018-03-09 01:36] #391 closed

[2018-05-20 00:56] xiavigor opened #392 "Find my little sister."
Nama penuh Siti Aishah Binti Nordin, umur 17 tahun. Tarikh lahir 2.9.2000.  Dia lari dari rumah sebab ingin bersocial. Tarikh lari 6.5.2018 dan dia lari bersama boyfriend. Tolong cari adik saya, saya nak bawa dia pulang. Jika ada apa2 maklumat, sila call no 04-3232291

![31571523_2154322628123279_4369072086199566336_n](https://user-images.githubusercontent.com/39447987/40274551-a521a0ec-5c0b-11e8-

[2018-05-21 00:57] gimite commented on #392
Hello,

Thank you for contacting Google Person Finder. We understand that you'd like to find or contact a person using Google Person Finder. Please note that Google Person Finder is a tool which allows individuals to post and search for the status of relatives or friends affected by disasters such as hurricanes and earthquakes. Unfortunately, it doesn't allow you to search for a specific person fo

[2018-05-21 00:57] #392 closed

[2018-07-09 04:33] #390 closed

[2018-07-09 04:35] gimite opened #395 "Migrate from appcfg.py to gcloud command"
Looks `gcloud` command is the standard way to configure App Engine app nowadays (though `appcfg.py` is still available). It would be better to migrate our tools / instructions to use `gcloud` command.

[2018-07-09 04:55] myoshimu commented on #381
Apologize for delay in my responses.
@KenrySanchez
Please proceed fixing if you are comfortable with it.

[2018-07-09 04:56] myoshimu commented on #395
Fix might be required for following directory:
tools/gae
tools/console

[2018-07-09 08:35] #33 closed

[2018-07-09 08:57] #377 closed

[2018-07-11 00:12] #360 closed

[2018-07-20 04:54] gimite opened #400 "Bring back support of "query" parameter for /results"
We renamed "query" to "query_name" a while ago, but some third parties directly link to a URL with "query". So we should support both.

Example:
http://google.org/personfinder/japan/results?role=seek&lang=ja&query=mike

[2018-07-21 06:53] myoshimu opened #401 "AMP Variable for Google Analytics ID implementation"
Right now AMP GTM variable is not implemented to capture Google Analytics ID.
We should implement it to allow dynamic GA property ID implementation.

[2018-07-22 03:37] myoshimu opened #402 "AMP Variable for Google Analytics ID implementation"
Right now AMP GTM variable is not implemented to capture Google Analytics ID.
We should implement it to allow dynamic GA property ID implementation.

[2018-07-22 14:52] myoshimu opened #403 "AMP Variable for Google Analytics ID implementation"
Right now AMP GTM variable is not implemented to capture Google Analytics ID.
We should implement it to allow dynamic GA property ID implementation.

[2018-07-23 07:53] myoshimu commented on #395
https://cloud.google.com/appengine/docs/standard/java/tools/migrating-from-appcfg-to-gcloud

[2018-07-24 06:18] myoshimu opened #404 "Instruction to generate AMP analytics / GTM ID"
Since Person Finder is now AMP ready, instruction is required to give more concrete instruction how to generate AMP analytics/GTM ID.
https://github.com/google/personfinder/blob/master/app/resources/admin.html.template#L1067

[2018-07-24 06:21] myoshimu opened #405 "Fix the variable name of amp_analytics_id"
The amp_analytics_id is actually defining the AMP GTM id so we might want to change variable name to "amp_gtm_id" to avoid confusion.

[2018-07-24 06:21] myoshimu commented on #405
https://github.com/google/personfinder/search?q=amp_analytics_id&unscoped_q=amp_analytics_id

[2018-07-25 05:18] gimite opened #406 "sms_number_to_repo should have default value"
Should be initialized here:
https://github.com/google/personfinder/blob/546f238fab407145292cc81c5e5682ad952f92f6/app/setup_pf.py#L62

Otherwise it shows error on save of global admin page unless the user fills it manually.

[2018-07-27 03:31] #406 closed

[2018-07-30 15:06] batradhruv commented on #339
Is anyone working on this issue? Can i pick this up?

[2018-08-06 03:26] myoshimu commented on #405
Closing as the original issue was fixed

[2018-08-06 03:26] #405 closed

[2018-08-18 06:30] aswin-jose opened #411 "First Name, Last Name labels along with or instead of Given Name, Family Name labels currently in place"
Why adding information about someone the page displays Given Name and Family Name fields in the page.
Which could be confusing to some.
Can we have first name , last name labels as well on the page.

[2018-08-21 00:31] #411 closed

[2018-08-21 00:55] gimite opened #413 "Add i18n message description of new messages added in #412"

[2018-08-22 03:45] #413 closed

[2018-08-24 18:33] nworden opened #416 "tools/all_tests depends on old version of pytest"
tools/all_tests uses _pytest.config.Parser, but Parser appears to have moved to the argparsing module in version 3.6.2.
I'll try to find a way to avoid depending directly on Parser; since they moved it without a mention in the release notes, I'm not sure they meant for it to be used like that. Otherwise I'll just update the reference to it to use its new module.

[2018-08-31 18:36] nworden commented on #143
Could this make it hard to test in advance? From what I know, the process to set up SMS for a repo is to get the numbers into the config, do a bunch of end-to-end testing, then put it on the repo's homepage after it's verified as functional. If the SMS instructions were automatically displayed as soon as the numbers were in the config, it would be shown to users before it was tested.

[2018-08-31 19:11] nworden commented on #304
Random thought: if we did this, I think we might have to let admins specify which languages to support for SMS for each repo. Otherwise, matching against so many possible translations could risk misinterpreting input. For example:
- If someone was searching for "Ben Jackson" but didn't know you had to say "Search" at the beginning of the message (i.e., they sent an SMS just saying "Ben Jackson"),

[2018-09-01 14:28] nworden commented on #9
It's possible to enter an invalid email address for the found person (email_of_found_person). I couldn't find any code that tries to send emails to that address, so I'm not sure it could have caused a cron job to fail, but it's been 2.5 years, so maybe there used to be code that needed it to be valid.

[2018-09-01 15:42] nworden commented on #9
It seems like a deliberate decision was made to only validate email addresses when they're used for subscriptions (the email validation code is within the subscription class). I'll check with Pete or Nobu to see if there's any product reason not to validate non-subscription emails.

[2018-09-03 03:53] gimite commented on #143
That's a good point. We may need something similar to staging/active mode we have for the repository itself.

Main motivation here is to save effort to write instruction in each language for every repository.

[2018-09-03 04:03] gimite commented on #304
That's good point. We already have a list of primary languages per repository, configurable in the repository admin page. Maybe we should only enable only those languages.

Other things to consider:
* Which language should we use for the "help message" we provide when the input is invalid? Maybe only the top language, or in all primary languages?
* Another challenge is multibyte characters. From w

[2018-09-03 04:05] gimite commented on #9
As far as I know, we only used subscription email to send emails.

[2018-09-03 04:52] #357 closed

[2018-09-04 01:08] #303 closed

[2018-09-05 00:34] gimite opened #425 "Allow API users to download records directly from the web site"
We allow **bulk_read** API users to download records. But it currently requires users to install Python and Git, clone Person Finder Github repository and use a command line tool tools/download_feed.py. This can be hard, considering API users are not always tech savvy.

It would be nice if we allow users to download records as CSV directly from the web site, though still requiring the **bulk_read*

[2018-09-05 13:26] #416 closed

[2018-09-05 17:11] nworden opened #426 "Better, and easier to find, docs for response organizations"
@jkoshy mentioned that it'd be useful for response organizations to be able to upload CSVs. That functionality [actually already exists](https://github.com/google/personfinder/blob/56622624bc65e7e9c5f9aa7342067d0e7d0013c0/app/resources/import.html.template), but I can't find any docs about it.

We're already talking about redesigning the repo homepages. Maybe we could put a "For responders" link t

[2018-09-06 00:37] gimite commented on #426
We do have doc about it:
https://github.com/google/personfinder/wiki/ImportCSV

I recently added a link to the page from "Hints" in this page:
https://github.com/google/personfinder/wiki/DataAPI

Let me know if you have better idea to make it more discoverable.

That sounds like a good idea.

Anyway both of the feature and doc of CSV import feature are a bit messy. It has two forms (persons and no

[2018-09-06 17:46] jkoshy opened #427 "Allow searching PF records by mobile phone number"
The ability to look up records by mobile number would be a useful feature; this could help alleviate the problem of needing to search for alternate spellings (or transliterations) of people's names.

[2018-09-06 21:01] nicoddemus commented on #416
Although not part of the public API, it definitely should be at least mentioned in the CHANGELOG, sorry about that. 👍

[2018-09-09 23:56] nworden commented on #416
No apology needed!

[2018-09-10 01:35] gimite opened #431 "Put a link to "How to use" page in all repositories"
Currently only "japan" repository:
https://google.org/personfinder/japan/
has a link to "How to use" page:
http://personfinder.google.org/global/howto.html
using a custom message.

It should be inserted to all repositories by putting it in the HTML template.

[2018-09-10 02:38] gimite commented on #416
Actually it might be safer to reimplement the parser in our code base than depending on a private API, though it's redundant. We are probably interested in a small subset of the flags anyway (I personally have only used `-k`).

[2018-09-14 15:43] nworden commented on #293
Are we sure this is a Person Finder issue rather than a bug with the keyboard itself? Does this image come from Person Finder code, or is it otherwise affect by PF code?

[2018-09-14 16:07] nworden commented on #198
I think we could address this by returning records in order of their original_creation_date (which is not supposed to change). So a new client would do something like this:
- When they first get their API key and want to backfill, they could ask for all the records in order of their original creation date. The client would store the time they started this process somewhere on their side.
- When th

[2018-09-14 20:07] nworden commented on #198
Sorry, never mind, I realized that still doesn't work, because a record updated during the sync could still get inserted into the list and mess things up. And that problem can't be resolved by putting a maximum entry_date on the request, because that would mean any twice-updated records (one update before the sync starts, one after) could be removed from the list and mess it up.

New proposal:
Don

[2018-09-25 05:10] gimite commented on #293
I don't know. It looks likely an issue of the keyboard itself. It might be good to confirm that it is not caused by our usage of the keyboard, but I'm personally also OK to simply close the bug.

[2018-09-27 00:52] gimite commented on #358
@githaruo Now repository home page supports AMP. Are you willing to add AMP support for global home page too as you originally described above?

We are considering to redesign the home page, so even if you will, it may be good to do that after the redesign.

[2018-09-27 00:54] #280 closed

[2018-09-27 01:00] #62 closed

[2018-09-27 01:01] gimite commented on #11
Web UI was added for most of the configs.

[2018-09-27 01:01] #11 closed

[2018-09-27 01:12] githaruo commented on #358
@gimite I remember I was give up to convert to current global home page to AMP format due to CSS and many reason. I'm willing to support redesign home page to AMP format too.

[2018-09-28 01:15] gimite opened #437 "Speed up page loads"
This is a high-level issue for the page load latency issue. A few concrete ideas are suggested to improve it:

#346 DB to NDB migration
#248 Analyze why we make so many datastore requests
#349 Consider putting all configs into a single entry

@githaruo FYI

[2018-10-08 21:31] nworden commented on #198
Yeah, exactly.

[2018-10-08 22:05] nworden opened #438 "Remove Google+ share links"
Google+ is being turned down:
https://www.blog.google/technology/safety-security/project-strobe/

There are Google+ share links on repo homepages; we should get rid of them.

[2018-10-09 05:33] #400 closed

[2018-10-10 23:57] nworden commented on #438
micw523 fixed this. Thanks again for your contribution!

[2018-10-10 23:57] #438 closed

[2018-11-01 08:59] gimite opened #447 "Upgrade django and lxml in the dependency"
As warned by tools/gae:

    WARNING appinfo.py:1651 django version "1.9" is deprecated, use one of: "1.4", "1.11"
    WARNING appinfo.py:1651 lxml version "2.3" is deprecated, use one of: "3.7.3"

[2018-11-04 17:13] ashutoshnarayan commented on #212
@gimite What are the names of the directories that needs to be created ? Where all in code should the change go apart from app/ directory ?

[2018-11-04 23:59] gimite commented on #212
Thanks for the interest to the contribution!

Note that all files under app/ should still be inside app/ because only files under app/ are uploaded to App Engine. We should create subdirectories under app/.

Here is my idea:

* Keep directly under app/ - main.py, model.py, app.yaml, cron.yaml, index.yaml
* app/handlers/ - HTTP handlers (subclasses of utils.BaseHandler) e.g., view.py, start.py
* ap

[2018-11-05 06:55] ashutoshnarayan commented on #212
@gimite I have developed a python code to create directories as you have mentioned and it's placed under tools/create_subdirectory.py Please review it and let me know if it's fine or needs some changes. I have raised a PR #448 for the same.

[2018-11-08 00:24] gimite opened #451 "Add support for CSV download with sensitive fields in the web UI"
Currently the CSV download from the web UI always removes sensitive fields. Should allow downloading records with sensitive fields when the API key has full_bulk_read access.

To implement it, DumpCSV cron job should generate two versions of CSV files, one with sensitive fields and one without them.

[2018-11-12 22:53] #425 closed

[2018-11-15 09:07] gimite opened #454 "dmp_csv cron job should not be run for deactivated repos"

[2018-11-15 09:11] gimite opened #455 "Document required App Engine setup for dump CSV feature"
Create default Cloud Storage bucket etc.

[2018-11-16 07:15] gimite opened #456 "Sitemap and sitemap ping not working"
I found that sitemap and sitemap ping of Person Finder are not working.

And it looks like it is failing for long, at least for 7 years.

Maybe we can just remove it because Google probably does a good job finding pages quickly without sitemap, and we actually have seen no issues in these 7 years? WDYT? @nworden

One potential counterargument is that it may still help Google to find a new reposito

[2018-11-22 05:58] gimite commented on #455
Done. Added https://github.com/google/personfinder/wiki/GettingStarted#step-7-optional-enable-google-cloud-storage

[2018-11-22 05:58] #455 closed

[2018-12-05 08:04] cclauss opened #460 "tools/babel contains Python 3 syntax errors"
* tools/babel/messages/extract.py
* tools/babel/messages/frontend.py

These two files contain legacy __print__ statements that would fail as syntax errors on Python 3.  The [current babel](https://pypi.org/project/Babel) supports Python 3 so it should either be pip installed or re-vendored.  Discovered but not fixed https://github.com/google/personfinder/pull/459/commits/f99351aa4af59bfc5d97cfe55c

[2018-12-05 08:43] gimite commented on #460
Thanks for finding it. Actually there is also app/vendors/babel which I believe is newer. We should probably refer to it instead.

[2018-12-05 08:45] cclauss commented on #460
Why not just __pip install babel__ instead of vendoring it in?

[2018-12-05 12:30] gimite commented on #460
App Engine upload tool only uploads files in `app` directory. So all dependency libraries, including babel, must be located inside `app` before running the app. There would still be an option not to track `app/vendors` with Git, and instead let individual developers install them, though.

[2018-12-06 00:38] gimite opened #463 "Remove tools/babel and use app/vendors/babel instead"
tools/babel is old and is also a subset of babel.

See #460 for context.

[2018-12-06 00:38] gimite commented on #460
Filed #463 for migration to app/vendors/babel.

[2018-12-06 05:52] cclauss commented on #463
Actually we are also pip installing Babel in __requirements.txt__.  Best practice would be to remove the vendoring if possible.

[2018-12-06 06:00] gimite commented on #463
requirements.txt is a file used to generate app/vendors. See:
https://github.com/google/personfinder/blob/master/app/vendors/README.md

[2018-12-11 01:19] #451 closed

[2019-01-17 08:17] gimite commented on #460
Let me close this one. I believe we should just fix #463 instead of fixing tools/babel.

[2019-01-17 08:17] #460 closed

[2019-01-17 08:23] gimite opened #475 "Support download of CSV file with BOM"
CSV export feature should support an option to prepend BOM to the CSV file so that Excel in any locale can read it.

[2019-01-17 18:51] nworden opened #476 "Support for experiment flags"
It'd be nice if we had a way to enable/disable things for a percentage of traffic through some mechanism other than AppEngine versioning. For example:

* When making a big change we could roll it out for a small percentage of traffic first, to reduce risk.
* If we're considering a UI change but aren't sure it will be helpful, we could try it out and see how it goes. E.g., we'd like to encourage us

[2019-01-18 05:49] gimite commented on #476
One challenge is that it (probably) currently has no cookies to identify sessions or users. If we naively serve one of the experiment randomly, the user may see the first page in the new UI and the second page in the old UI. (Same thing would happen with AppEngine versioning.)

So it would require to introduce a session ID cookie. And we probably need to go through some reviews to do that because

[2019-01-21 06:28] gimite opened #478 "Implement UI v3 with React"
@nworden I created this because I couldn't find an issue for the overall UI refresh effort. But let me know if it is already somewhere.

I arbitrarily called it "v3" because the current UI was called "v2". Feel free to give it your preferred name :)

[2019-01-21 06:36] gimite commented on #212
This task is currently blocked by #478 . See https://github.com/google/personfinder/pull/450#issuecomment-455962948 for details.

[2019-01-22 23:12] nworden opened #488 "Figure out if api.py needs to use a dict for full-text search"
Random thing I came across while doing some refactoring today. When external search backends doesn't produce any results and full-text search is enabled, api.py makes a call to full_text_search.search with query_string as the query_dict argument:
https://github.com/google/personfinder/blob/master/app/api.py#L541

full_text_search.search does appear to expect that query_dict actually be a dict: the

[2019-01-23 07:53] gimite commented on #488
Looks like a bug. Full text search hasn't been launched, and probably we have never tested API call with full text search enabled. We were not able to work on launching full text search for years (though I still believe we eventually should), so it may be OK just to leave it.

But if we want to fix it, we should probably just pass `{name: query_string}` instead because the API doesn't support pass

[2019-01-23 17:28] nworden opened #490 "Migrate from mox to mock library"
mox is a mocking library that hasn't been updated in a long time:
https://pypi.org/project/mox/
we use it for test_tasks, test_external_search, and test_send_mail.

Python has a new library simply called mock, which is built-in for Python 3 and available for Python 2 as a library.

[2019-01-23 21:55] nworden opened #493 "Travis CI noise"
A Travis CI build failed for PR #486 (specifically, [this commit](https://github.com/google/personfinder/pull/486/commits/7174534697e1a5d8e9e1ca4ecc7faa1f35621fa5)) with this error:

It doesn't make sense that that commit could cause any build failures: we don't yet have integration tests for the React app (or any tests for the React app at all, for that matter). Plus, the URLs from the previous v

[2019-01-25 07:12] gimite commented on #493
Looks like it passed:
https://travis-ci.org/google/personfinder/builds/483695302

Have you rerun the job? Or maybe it was another job?

When it fails, you can rerun the job to see if it's a transient error or not.

[2019-01-26 17:26] nworden opened #497 "Upgrade google-api-python-client"
The version we're using now (1.7.4) doesn't specify that it supports Python 3.7 (the version that App Engine's Python 3 runtime uses). The latest version (1.7.7) supports both 2.7 and 3.7, so we should upgrade to it, just to be safe, before we switch to the Python 3 App Engine runtime.

[2019-01-26 17:29] nworden opened #498 "Upgrade xlrd"
The version we're using now (1.0.0) doesn't specify that it supports Python 3.7 (the version that App Engine's Python 3 runtime uses). The latest version (1.2.0) specifically supports both 2.7 and 3.7, so we should upgrade to it, just to be safe, before we switch to the Python 3 App Engine runtime.

[2019-01-26 19:44] nworden opened #499 "Upgrade simplejson"
The version we're using (3.10.0) doesn't specifically support Python 3.7. The latest version doesn't either, and it doesn't seem to be all that actively developed, but they are testing with Python 3.7, so we should probably be ok if we upgrade to the latest version.

[2019-01-26 20:02] nworden opened #500 "Eliminate oauth2client dependency"
[It's deprecated.](https://pypi.org/project/oauth2client/) They recommend replacing it with [google-auth](https://google-auth.readthedocs.io/en/latest/) and [oauthlib](https://oauthlib.readthedocs.io/en/v3.0.1/).

[2019-01-27 00:41] nworden opened #502 "Clean up App Engine Mail service usage"
This is to prepare for the Python 3 migration.

It looks like we're not actually using the Mail service anywhere outside of send_mail, but we do have some stray imports that should be deleted.

[2019-01-28 00:07] gimite commented on #395
Even with this one resolved, should we migrate to Python 3, since its support in App Engine is still beta?:
https://cloud.google.com/appengine/docs/standard/python3/quickstart

Stability is important for our product, so I'm a bit concerned to use an infra without SLA. It is up to you though.

[2019-01-28 00:10] nworden commented on #395
This is just one of many, many things we have to do before we eventually make the switch to Python 3. We won't be using the v3 runtime anytime soon.

[2019-01-28 01:04] gimite commented on #500
I knew that it's deprecated, but I needed to use it since google-auth doesn't support Python 2. So this issue is rather blocked by Python 3 migration.

[2019-01-28 01:07] nworden commented on #500
Yeah, there's a number of places where I think we're going to end up needing two codepaths (one for Python 2 and one for Python 3) while we migrate.

[2019-01-28 01:16] gimite commented on #395
I personally feel it may be too early for us to take time to start preparing for Python 3 migration at this moment when it is unclear when App Engine Python 3 support exits beta. But it is also up to you.

[2019-01-28 01:55] nworden commented on #395
I'm not sure if you've seen the doc I sent to the team list yesterday (I'm on my phone right now and don't have my work account on it), but it looks like the Python 3 migration is going to be a lot of work for us because a lot of AE APIs (e.g., the Users service) aren't being supported for 3:
https://cloud.google.com/appengine/docs/standard/python3/python-differences#app_engine_apis
It's hard to m

[2019-01-28 02:49] gimite commented on #395
Oh sorry I have just read the doc :) I agree that we should eventually migrate to Python 3, so it sounds good to start from something stable, like migrating to Python 3 language itself.

[2019-01-28 17:33] nworden commented on #500
It supports up to 3.5; AE's Python 3 runtime is 3.7. If we can verify that it still works in 3.7, then it seems ok to keep using it, but it might be safer to switch away from it.
I'm pretty sure we can import it conditionally to avoid problems in Python 2 if we have to.

[2019-01-28 17:47] #502 closed

[2019-01-28 18:09] nworden opened #508 "Set up Python 3 testing"
Most of our tests will fail right now if we try to run them with Python 3, so we'll need to set up something that runs a specific subset of tests; we can add to that set as we make more code Python 3-compatible.

[2019-01-28 23:20] #488 closed

[2019-01-29 01:31] gimite commented on #500
Maintaining two codepaths can be pain anyway, so I would prefer to keep using oauth2client for now if it works (especially if that's the only option for our production (Python 2)), but it's up to you.

[2019-01-29 19:18] ParthS007 commented on #499
Hi @nworden
I want to work on this Issue. How should I proceed with this?
Thanks

[2019-01-29 19:18] ParthS007 commented on #497
Hi @nworden
I want to work on this Issue. How should I proceed with this?
Thanks

[2019-01-29 19:32] nworden commented on #497
Hi Parth!
This is a good starter issue because most of the work would just be setting up what you need for PF development (instructions [here](https://github.com/google/personfinder/wiki/GettingStarted)). Once you do that, yeah, you would update requirements.txt, install the new version to app/vendors (instructions about that [here](https://github.com/google/personfinder/blob/56622624bc65e7e9c5f9a

[2019-01-30 03:19] gimite opened #514 "Document how to set up React development environment"
@nworden Do you have doc how to set up React development environment somewhere? Looks some preparation is required before running `tools/ui run` such as:

* Installing NPM
* `cd ui; npm install`

[2019-01-30 06:49] gimite opened #516 "maticon_add.svg is missing"
It is referred here:
https://github.com/google/personfinder/blob/983ec508a73ffe4e39cb07ee3d163f86170404b4/ui/src/pages/Results.js#L128
But looks it does not exist.

[2019-01-30 14:01] ParthS007 commented on #497
Hi @nworden, I just found that `google-api-python-client` had a new release yesterday i.e 1.7.8.
Should I upgrade it to `1.7.8` or keep it `1.7.7`?
The latest version supports both 2.7 and 3.7.
Waiting for your reply.

[2019-01-30 15:15] nworden commented on #497
That's great, thanks for noticing! Yeah, let's go with the new one, 1.7.8.

[2019-01-30 15:19] ParthS007 commented on #497
Okay, Making PR shortly.

[2019-01-30 17:35] #516 closed

[2019-01-30 18:57] ParthS007 commented on #499
@nworden Should I go ahead with this Issue?

[2019-01-30 19:16] ParthS007 commented on #508
@nworden I am familiar with writing tests. Please let me know if I can help you with this Issue.

[2019-01-30 19:17] #497 closed

[2019-01-30 19:18] nworden commented on #499
Sure! I suggest making sure you work off the latest version of the master branch (i.e., including PR #518, which I just merged in) to avoid merge conflicts.

[2019-01-30 19:24] nworden commented on #508
This issue actually isn't about writing the tests themselves, but just having our existing tests run under both versions of Python. It's not very high-priority, because right now hardly any of our tests would pass under Python 3 anyway :(
If you're interested in testing itself, you might prefer an issue like #168 or #490. We also have a couple older issues related to test flakes (like #226).

[2019-01-30 19:33] ParthS007 commented on #499
Yes, I will make PR only after pulling the latest changes.

[2019-01-30 20:32] ParthS007 commented on #508
okay, I will have a look at the linked issue.
Do you have any workflow already designed for migration from `Python 2.7` to  `Python 3`?

[2019-01-30 21:32] #499 closed

[2019-01-30 21:38] nworden commented on #508
We've only just started doing Python 3 work, and we don't expect to actually do the migration anytime soon because App Engine's Python 3 runtime is still in beta. Apart from the library upgrades, I'm starting by running python-modernize over files when I have time to kill, to get them compatible with both Python 2 and 3. TBH, doing that stuff might be particularly difficult for someone who's new t

[2019-01-30 22:34] nworden commented on #514
I added notes about Node.js and npm (and npm install) to ui/README.md. I *think* that's all you need to do.

[2019-01-30 22:34] #514 closed

[2019-01-31 18:46] ParthS007 commented on #498
I am working on it.

[2019-02-01 00:05] #498 closed

[2019-02-06 16:18] nworden commented on #88
Assigning to Jakub

[2019-02-11 06:55] yashLadha commented on #478
Hey I would like to work on this issue and work alongside with @nworden . @gimite

[2019-02-12 09:06] nworden commented on #478
Hi Yash,
I'm sorry for my delay in replying (I was offline yesterday). Thanks for your offer to help!
Are you already familiar with React? If not, the tutorial on their website is pretty good so I'd suggest starting there. If you're comfortable with React already, let me know and we can find a piece of the UI work to break off for you.
- Nick

[2019-02-12 13:38] yashLadha commented on #478
@nworden  Yes, I am comfortable with React and had created a couple of personal projects in react+redux as well. So I would be happy to contribute to this project.

[2019-02-12 16:30] nworden commented on #478
Ok, that's great. Here are a few options that might be good places to start:
- A component for our static pages. We have a few pages that display static information (e.g., [the page for responders](https://google.org/personfinder/global/responders.html)), and we'll need to support them in the React UI. The implementation for each of these pages will probably be very similar, so I think the way to

[2019-02-13 04:45] yashLadha commented on #478
Sounds great. I will start working on the general static component ASAP and can you provide me with some more insight on the second task, as it will be a good task for learning purpose. @nworden . I am creating a separate issue for the first point. Also how about using typescript instead of javascript for frontend in React. This can possibly avoid a lot of bugs in production.

[2019-02-13 08:16] yashLadha opened #525 "Back button in RepoHeader doesn't takes back"
When on clicking the back button on repo header, it doesn't go to the previous page and remains on the same page itself.

I am sending the patch for this.

[2019-02-13 13:44] #525 closed

[2019-02-13 19:30] ParthS007 commented on #168
@gimite @nworden I want to work on it. How should I proceed with this Issue?

[2019-02-13 21:47] nworden commented on #478
Regarding your question on PR #526 (just answering here to try to keep it in one place): I don't think I see a need for a HOC here. IMO the way to do it would be to create a run-of-the-mill component that uses a prop for the title and `children` for the actual page contents (for now, the contents are just going to be a react-intl message, but doing it via `children` would be useful if we ever want

[2019-02-13 22:24] nworden commented on #168
That's great, thanks for volunteering to take on this gnarly task.
This is a substantial file to refactor so I'd definitely recommend taking it one piece at a time, and sending separate PRs for each piece you split out. For example, the tests related to seeking information about someone could be moved into their own file, the tests related to SMS features could be in their own file, the tests rela

[2019-02-14 05:01] yashLadha commented on #478
Thanks for the detailed explanation @nworden . I will send a PR for a static component ASAP.

[2019-02-14 15:29] mohitkyadav opened #527 "Add .vscode to .gitignore"
.vscode folder should be ignored as it contains project's local settings.

[2019-02-14 15:48] mohitkyadav opened #529 "add .editorconfig file"
Defing style guide rules in a **.editorconfig** file, DOS/Windows style line endings cause errors in running the project, **editorconfig** file tells editors to use linux style line endings in all files by default.

[2019-02-15 06:04] #527 closed

[2019-02-15 06:08] nworden commented on #529
As far as I know this is the first time this has come up. @gimite has this come up before that you know of?
If this is specific to a particular editor or a small number of editors: IMO configuration of this sort shouldn't be checked in. Feel free to add .editorconfig to .gitignore though.

[2019-02-15 06:17] gimite commented on #529
No, AFAIK this is the first time.

According to https://editorconfig.org/, it (at least aims to) be a general config file across different editors. And looks like Github supports it by default (though I don't know what that mean). So IMHO it sounds like a good idea to have one submitted.

[2019-02-15 06:18] ParthS007 commented on #529
I want to send the patch for it.
Should I go ahead?

[2019-02-15 07:21] nworden commented on #529
Yeah if it's widely used that seems fine. Sorry for my ignorance.

[2019-02-16 20:01] ParthS007 commented on #168
@nworden I am still going through the test script as it is very large.
I agree with you and we can proceed it in this way by following a modular approach in a stepwise manner:

1. Creation of multiple test script files with a base class and creating a new base class which will contain utility functions.
2. Moving of code to respective scripts files under respective subclass.
3. Start testing of Fi

[2019-02-19 02:49] nworden commented on #168
That's basically what I'm saying, but I strongly recommend doing it in separate PRs, and everything should pass for each PR. So, you might create the `UserRecordsTestBase` file and send that by itself as your first PR (there would be duplicated code between it and the old file until you're done, but that's ok). Then you could start moving tests into their own specific files (one for API writes, on

[2019-02-19 14:07] #529 closed

[2019-02-19 14:30] nworden commented on #490
It turns out everything else we use mox for is related to AppEngine APIs, which we have to get rid of anyway. It doesn't make a lot of sense to migrate tests that are going to need to be rewritten anyway, so I'm marking this blocked (once we rewrite those tests with Cloud APIs or whatever, we can remove mox.py and close this).

[2019-02-19 16:27] adityaxdiwakar commented on #118
Seems like something that should be done using a webserver to rewrite all ``http`` schema traffic to the proper ``https`` schema, rather than something done in app. Or possibly using DNS to rewrite traffic, if that's possible.

I'm not familiar with the inner workings of the architecture of this app so I can't say much about moving forward, but are either of those possible?

[2019-02-19 16:46] nworden commented on #118
We're using App Engine, which probably has a way to force *all* traffic to HTTPS if we wanted, but we only want to force the admin pages to use HTTPS (we don't necessarily want to force all traffic to use HTTPS due to the performance cost, but that's not a concern for the admin pages). So I think we have to do it in the app, probably by checking the [is_secure field](https://docs.djangoproject.com

[2019-02-19 16:56] adityaxdiwakar commented on #118
That sounds promising, I'm not too good with Django, I might read up on it later and make a PR in the future.

[2019-02-19 16:59] nworden commented on #118
Ok, that's cool. If you do decide to work on it, please just make a comment here saying so, to make sure no one else works on it at the same time.

[2019-02-19 17:01] adityaxdiwakar commented on #118
Will do, of course! Thanks!

[2019-02-19 20:30] nworden opened #533 "Deal with robots with React UI"
We're currently keeping bots away from certain pages (namely search results and person record pages) with a meta tag, implemented [here](https://github.com/google/personfinder/blob/f2b07e84d6dcbecef7fb60d53d77412d4e5a1555/app/resources/base.html.template#L36), but it's not going to be that easy with the React app. We can't use a robots.txt file because PF lives in a subdirectory (google.org/person

[2019-02-20 00:46] gimite commented on #533
Another disadvantage here is that search engines may consider that our site is cloaking, because we return different pages to bots and real browsers, which (I believe) they discourage.

At a glance, use of react-helment sounds good to me, since (I believe) we do not have immediate plan of server side rendering.

Another potential option is to implement the logic in the server side (i.e., we do the

[2019-02-20 21:49] nworden commented on #81
I'm going to close this issue. I don't think we could freely discuss this on an external forum so it's probably better to file it internally.

[2019-02-20 21:49] #81 closed

[2019-02-20 21:52] nworden commented on #8
Do you know when the last time the bundles feature was used? I'm wondering if custom repo messages (homepage messages, footer messages, etc.) might cover the use cases the resource bundle system was designed for. Since resource bundles seem pretty error-prone, and the code to support them adds some kinda significant complexity, I think we should consider getting rid of the bundle feature if we don

[2019-02-20 21:54] nworden commented on #447
Forgot to reference the issue from the PR, but lxml was upgraded to 3.7.3 in PR #512.

[2019-02-20 22:50] #293 closed

[2019-02-20 23:08] nworden opened #534 "Virtual Keyboard is deprecated"
We still have [some code](https://github.com/google/personfinder/blob/56622624bc65e7e9c5f9aa7342067d0e7d0013c0/app/resources/static/vk.js#L15) kicking around for Google's Virtual Keyboard, which [is deprecated](https://developers.google.com/virtual-keyboard/v1/getting_started). It looks like the deprecation was announced in 2011, with a support period of 3 years. I might be trying to use it wrong,

[2019-02-20 23:10] nworden commented on #534
It just occurred to me that an advantage of something like the JS virtual keyboard is that it'd be useful in situations with shared computers (e.g., at a camp/shelter) where people who speak a variety of languages would use the same browser. Since the old VK is deprecated, I'm not sure there's a good path for us to address that problem on our side, but we could encourage govt. agencies or NGOs to

[2019-02-21 02:08] zestyping commented on #8
Hi!  Just saw this float by in my inbox and thought I'd chime in.  The
resource bundle system, as I recall, was created to make it possible to
override or localize any part of the UI without having to deploy a code
change.  For many of the Person Finder deployments while I was on the team,
it was a lifesaver to be able to instantly override anything or add
translations on the fly while we were in

[2019-02-21 21:26] ParthS007 commented on #168
okay @nworden, I will start making PRs after my Mid-semester exams. :+1:

[2019-02-21 23:02] nworden commented on #8
Wow, it's Ping! It's great to hear from you! Thanks for your input, it's definitely useful to have background on what resource bundles were developed for.

I think we have two sets of things to consider:
- What the system gets used for. I suspect it's gotten less use over time as PF has matured and there are fewer surprises during a response.
- Whether resources bundles are still how we want to ad

[2019-02-21 23:04] nworden commented on #168
Good luck with your exams!

[2019-02-21 23:32] zestyping commented on #8
Yeah, compiled JS wouldn't make sense as a resource.  The resource editor
is supposed to be a human-facing UI for making quick edits by hand.  I
could see it being used for text (inserting helpful information into the
UI, or adding translations that weren't previously prepared), or small
formatting changes (maybe you need to change something in a way that goes a
bit beyond a home page custom messa

[2019-02-22 04:31] gimite commented on #8
Oh Ka-Ping! Long time no see.

To elaborate what Nick said: We are switching to use React to construct UI, which means that majority of our UI will be written in JS (precisely, JSX) and gets precompiled. So we will no longer be able to use (current) resource bundles to tweak UI. We may be able to develop a new resource bundle system which works with React, but it sounds nontrivial.

Looking into h

[2019-02-22 06:57] gimite commented on #534
This isn't an issue in Japan since you can type Japanese in all computers/phones sold in Japan. But I don't know the situation in other languages. I believe it was more for countries like India, so it may be good if we can get input from people in such countries.

[2019-02-22 07:47] zestyping commented on #8
Out of curiosity, why are you rebuilding it in React?  Is it just to change
the look?

On Thu, Feb 21, 2019, 20:31 Hiroshi Ichikawa <notifications@github.com
wrote:

[2019-02-22 14:38] nworden commented on #8
Yeah, it's about aesthetics. We've gotten some feedback internally that it doesn't "feel modern."

[2019-02-24 20:20] nworden commented on #456
It looks like the sitemap is designed to include links to person pages, which doesn't seem like desirable behavior today (and we're setting noindex on person pages anyway).

I think I could simplify it a lot by just making it a map to repo pages and shared pages (like the terms of service page). Maybe also change it to only ping when a new repo is launched (instead of on a cron every 15 minutes).

[2019-02-25 00:09] gimite commented on #456
SGTM.

[2019-02-25 18:52] nworden opened #542 "/<repo>/home.html displays global homepage"
Hiroshi pointed out when I set up the React URLs that there's a legacy URL for the homepage (/global/home.html) and that we should redirect from there to the canonical homepage URL (/). It turns out that link works for things other than /global too, e.g. [/test/home.html](https://google.org/personfinder/test/home.html). When you access it from a repo directory, you get a white bar saying the insta

[2019-02-25 21:08] zestyping commented on #8
It seems like a shame to invest a lot of effort in a rewrite with potential costs to functionality or stability, if the reasons are indeed purely aesthetic.  Shouldn't decisions about development priorities and about keeping or removing functionality be primarily driven by good arguments for what will help people contact their loved ones?

[2019-02-25 23:00] nworden commented on #8
To get more precise, I'm going to separate this into two questions: a) why are we implementing a redesign and b) why are we doing it with React instead of sticking with Django templates.

Why we're implementing a redesign: I guess this is really the question I had in mind when I replied two comments up. I'm not sure there's anything that makes this redesign significantly different from any other p

[2019-02-26 01:15] gimite commented on #542
I believe it is just an unintended outcome of the fact that files under app/resources/static are served to all repositories including "global". IMHO it isn't worth fixing the current implementation since no one should have link to <repo>/home.html. At the same time, we don't need to keep the behavior in the new implementation for the same reason.

[2019-02-28 09:39] yashLadha commented on #478
@nworden  Can you just define the props that need to be rendered in the single component like the basic entities. This will help me to formulate the structure for the component and can send PR after that. Currently, I am just using a single component which is rendering the UI from the passed props. Also is the passed props will be HTML or some data.

[2019-02-28 14:45] nworden commented on #478
Sure. For now I think the page title (or subtitle, depending on how you look at it) and the page contents are the only thing you really need to deal with. It'd probably be easiest to pass the contents as the component's children rather than as a "regular" prop. For example, here's how we might use the static component for the new version of [this page](https://google.org/personfinder/global/respon

[2019-02-28 16:32] #456 closed

[2019-03-01 00:23] will44047 commented on #456
Go for it

[2019-03-05 13:53] nworden opened #556 "Add ping_sitemap_indexers to admin page"
Currently you have to set it on the command line.

[2019-03-05 21:28] nworden commented on #9
I think I figured this out: when records are deleted, messages are sent to associated emails (`app/delete.py`, line 74). Those emails are validated client-side, but not server-side.

[2019-03-07 21:05] nworden commented on #293
I think I've confirmed the issue is with the keyboard itself: it is pointing to a reasonable-looking URL (http://www.google.com/webelements/images/gwe_transparent_130x20.png), there just isn't a file there anymore. Since the Virtual Keyboard was deprecated in 2014, it's not surprising that files may have moved or been deleted without anyone updating the keyboard code.

[2019-03-07 21:20] nworden commented on #534
It turns out the reason this wasn't working for me is that it's only enabled for Urdu. Remarkably, it does still work, at least as far as I can tell as a non-Urdu speaker.
It'd be useful to get some insight on whether there was a specific reason this was set up for Urdu (Hiroshi, if you don't know I'll try Pete). Frankly I'm still inclined to get rid of it unless there's a really good reason to ke

[2019-03-08 22:33] nworden commented on #534
Removed in PR #567. Further discussion on the decision to drop it is in the PR description.

[2019-03-08 22:33] #534 closed

[2019-03-12 17:07] #9 closed

[2019-03-12 21:15] nworden commented on #508
Turns out I was doing it wrong -- Docker installs Python itself so it doesn't really matter what version of Python Travis is set up with. Inconveniently, Ubuntu doesn't seem to have Python 3.7 (or even 3.6) in its repositories, and I'd rather not depend on other repos (or build Python from source every time we run tests). I'll see if we can run our tests outside Docker, and otherwise I guess we ca

[2019-03-12 21:42] nworden commented on #508
I take it back: the latest version of Ubuntu has Python 3.7 available, but my Docker base image was an older version of Ubuntu.

[2019-03-13 16:28] nworden opened #574 "Move off webapp2"
We use webapp2 for our web framework, but it doesn't support Python 3 so we need to replace it. The current plan is to replace it with Django.
Summary of the reasons for choosing Django: Django has a strong community and long history, so it's probably something we can count on in the long term; we're already using Django for templating; and we know of no significant reason to use anything else ins

[2019-03-13 19:52] nworden opened #575 "Upgrade WebOB (and webapp2 to be safe)"
Our current Docker setup is running Python v2.7.12 (because that's what's in the Ubuntu Xenial repository). It breaks with Python 2.7.15 (I haven't tried versions in between).

The reason is that the newer version of `xml.sax.expatreader.ExpatParser` (used by `app/pfif.py`) expects to be able to call `close` on its input file, and the input object provided by WebOB v1.1.1 (a `LimitedLengthFile`) d

[2019-03-13 20:04] nworden commented on #575
Once I get things working with Python 2.7.15, I'll see if I can set up Travis to run with two environments: one that uses 2.7.12 (because that seems to be [what App Engine currently uses](https://cloud.google.com/appengine/docs/standard/python/release-notes) for its 2.7 runtime) and one for the latest thing I can find (to be safe if/when App Engine upgrades its runtime).

[2019-03-13 20:58] nworden opened #576 "Include latest (of 2.7.x) version of Python in Travis tests"
Spun off of issue #575.
Currently we test on an older version of Python 2.7, just by default based on what's in the Ubuntu package repository. That's ok, because [right now App Engine uses 2.7.12](https://cloud.google.com/appengine/docs/standard/python/release-notes) anyway, which was released in 2016. However, it'd be good to also test with the latest 2.7.x version, in case App Engine upgrades it

[2019-03-13 21:59] nworden opened #577 "Set request charset based on content-type"
I don't think we're picking the right character set for decoding requests. We're setting `Request.charset` to `env.charset` [here](https://github.com/google/personfinder/blob/9d93f759992be3cde112b901faeb1d08cc3b0b7f/app/main.py#L340), but `env.charset` is the output of [`select_charset`](https://github.com/google/personfinder/blob/9d93f759992be3cde112b901faeb1d08cc3b0b7f/app/main.py#L187), which t

[2019-03-14 18:16] nworden opened #579 "Stick to Content-Type header for identifying request charset"
There is a feature to set the character set based on a query parameter (`charsets`). The current tests expect that character set to be used not only for the response, but also for interpreting the request. However, that's kinda circular: it requires the params of the request to be used to tell you how to decode the request (including the params themselves).

I think it's been working because WebOB

[2019-03-14 19:53] nworden commented on #579
Oops, this is basically the same thing as issue #577, which I filed a mere 20 hours prior but managed to forget about anyway. There's some more detail here though so I'm going to keep this one open and close the other.

[2019-03-14 19:54] nworden commented on #577
Redundant with #579.

[2019-03-14 19:54] #577 closed

[2019-03-14 20:52] nworden commented on #575
TL;DR for @gimite: is there a partner or anyone else you know of who's using the `charsets` URL parameter?

This is turning out to be a big can of worms, because of the way WebOB 1.2.3 supports non-UTF8 requests. You can't just assign the charset field anymore, you need to manually call `request.decode()`, which doesn't sound so bad except `decode()` doesn't modify the request in place; instead it

[2019-03-15 02:41] gimite commented on #575
I believe it is no longer necessary to support encodings other than UTF-8. But I'm asking @nmakida in a mail thread to confirm because it was originally introduced to support old Japanese feature phones.

FYI Request encoding and response encoding are tightly related because (I believe) browsers send request in the same encoding as the encoding of the page.

[2019-03-15 06:51] gimite commented on #579
Let's wait for the conclusion of the discussion in #575. We may be able to just drop support of non-UTF8 encodings entirely (for both requests and responses).

[2019-03-15 08:15] gimite commented on #575
Confirmed with @nmakida that it should be OK to drop support of non-UTF-8 encodings.

As a reference, this article (found on the web, in Japanese):
https://gist.github.com/uupaa/e19c25029190d2329d8d
says UTF-8 is available for most of  feature phones in Japan sold after 2010.

[2019-03-15 14:47] nworden commented on #575
That's great to hear. I'll go ahead with the WebOB upgrade without non-UTF8 support.
I think it could be worth talking about supporting other character sets again once we're on Django though (seems reasonably well-supported, at least from a quick glance at their docs), so I'll leave #579 open for now.

[2019-03-15 15:28] #575 closed

[2019-03-15 20:12] #576 closed

[2019-03-15 20:16] nworden commented on #508
Really done now, in PR #582.

[2019-03-15 20:16] #508 closed

[2019-03-20 20:00] nworden opened #592 "Tell users if they enter an invalid age"
PFIF requires that age values either be a number or arrange of numbers (formatted as nn-nn). We currently enforce that requirement silently: if you enter something invalid, the form submission will go through, and we'll just drop the age value. We should tell users if the age they submitted is invalid and give them a chance to fix it.

[2019-03-26 01:18] gimite commented on #592
It may also be nice if we are a bit more flexible about the accepted format e.g., accepting full with numbers (e.g., "３０−３５") as well, which is commonly used in CJK. Applying Unicode NFC normalization would probably be sufficient but I haven't confirmed it.

[2019-03-26 05:16] yashLadha commented on #592
Would like to take up the issue @nworden @gimite

[2019-03-26 05:36] yashLadha opened #597 "Moving authorization params list to const.py"
Currently, the authorization params are hardcoded in the function. This restricts the extendibility and also not a good practice to use the constants in a localized scope. It would be better if these params are moved to `const.py` following the pattern.

[2019-03-26 06:33] gabru-md commented on #592
if this is a good first issue then can I take it up @yashLadha ?

[2019-03-26 09:42] yashLadha commented on #592
No problem in that @gabru-md :sweat_smile:

[2019-03-26 13:46] nworden opened #599 "Migrate pfif-tools to Python 3"
There's a standalone app (in `tools/pfif-tools`) that will also need to be migrated to Python 3.

Flask seems like a good choice to replace webapp2 for pfif-tools since the app's so simple.

[2019-03-27 11:00] nworden opened #604 "Update pfif-tools to support PFIF 1.4"
It'd be easier for others to use PFIF if there was a validation tool they could debug with, but pfif-tools currently only supports up to v1.3.

[2019-03-27 20:10] nworden commented on #597
yashLadha did this in PR #598.

[2019-03-27 20:10] #597 closed

[2019-03-29 14:54] nworden commented on #447
Upgraded Django to 1.11 in PR #613.

[2019-03-29 14:54] #447 closed

[2019-04-01 02:17] gimite opened #615 "Make imports in Python consistent with the style guide"
Our current code base has many imports in Python not following this style guide:
https://github.com/google/styleguide/blob/gh-pages/pyguide.md#22-imports

* We shouldn't import wildcard like this: https://github.com/google/personfinder/blob/master/app/view.py#L18
* We shouldn't import individual functions.

These cases should be fixed to import packages/modules instead.

[2019-04-01 05:18] vintol commented on #615
I will take a shot at this.

[2019-04-01 06:47] gimite commented on #615
That would be great, thanks!

Let me take examples to better understand your proposal.

https://github.com/google/personfinder/blob/master/app/view.py contains:
[code]
and https://github.com/google/personfinder/blob/master/app/create.py contains:
[code]

How does the code look like by applying your proposed change? What I imagined was:

[code]

[code]

There is no time limit or deadline, so take y

[2019-04-01 16:22] vintol commented on #615
What I meant was this :
[code]

This could be done in one of 2 ways:

1.  The same thing @gimite did in post above.

[code]

- Any new commit mades during this process of updating import statement in entire codebase would have to be made with this in mind.
- Names of some functions and variables might have to be changed that conflict with the name of the package.
- This change would have to reflec

[2019-04-01 16:38] nworden opened #617 "Consider .gitignoring app/vendors"
`requirements.txt` should be all we really need to check in, and changes including stuff under app/vendors are a hassle to review (e.g., PR #616).

Under the Python 3 runtime, App Engine will install our dependencies from `requirements.txt` itself ([docs](https://cloud.google.com/appengine/docs/standard/python3/runtime#dependencies)), so we won't even need to upload the files to AE ourselves, and

[2019-04-02 01:02] gimite commented on #615
Thanks for the clarification!

This still violates our style guide:
https://github.com/google/styleguide/blob/gh-pages/pyguide.md#22-imports

So I would prefer to go with the first option even though it is more work.

It is true for this particular case, and you would also see a lot of unused imports like this unfortunately :( Feel free to (and you are welcomed to) clean up unused imports as well

[2019-04-02 06:18] gimite commented on #617
I believe we originally decided to check in app/vendors to make local development and releases easier. But I agree that it's annoying, and I'm OK to remove it from version control if:
* It is clearly documented how to locate them, if it still needs to be located manually for dev app server.
* We make sure that we don't accidentally make a release without locating app/vendors. Maybe it is already e

[2019-04-02 08:28] nworden commented on #617
Maybe we should add thr `pip inatall` command to our release script, in case someone upgrades a library in `requirements.txt` but the new version doesn't affect our tests.

[2019-04-02 08:34] gimite commented on #617
That's a good point and sounds like a good idea.

[2019-04-02 12:55] vintol commented on #615
The [file](https://gist.github.com/vintol/302d303af78150c4d1ce1910dc04333e) that I promised.

At first I thought,
for the imports like `from model import *`

I would have to search every class and function there is in model.py in the present file.
But then I was hoping for another way, something like

[code]
This is premitive, i know. But it's just to give you an idea.
Then maybe look for that imp

[2019-04-02 19:52] nworden opened #619 "Automated style checking"
It'd be nice to have some kind of style check run automatically. [yapf](https://github.com/google/yapf/) seems like a good place to start. The docs say if you run it with `-d` you get a non-zero return code if changes are required, so you can integrate it into an automated script. It's not a complete solution (e.g., it doesn't seem to detect imports of individual functions, issue #615, even if you

[2019-04-02 20:17] nworden commented on #615
To be clear, you mean when including APPENGINE_DIR on the path, same as when you run the app? Could you let me know what version of the SDK you're using (it should be the first line of output if you run `cat $APPENGINE_DIR/VERSION`)? And where you're running it from and where your script is located relative to the app directory?

IMHO this is the sort of situation where maybe it's not worth follow

[2019-04-03 01:43] nworden commented on #226
I'm going to try splitting up this test to start with (it's pretty big). I don't think it'll solve anything, but it could simplify debugging, and if nothing else it'll ensure we test the rest of the stuff in this test even though the flakes will probably continue.

[2019-04-03 03:35] gimite commented on #615
I agree that we should consider this as an exception and leave it as is, because I believe it's a common pattern for this particular module. Sorry I forgot to mention that earlier.

[2019-04-03 03:56] vintol commented on #615
I updated my earlier comment. Maybe take a look at that for other things.
@nworden :

# Devlopment Environment

For convenience, I am showing just the directory name here,
In reality, I am using full path wherever applicable.

## Python2 + pips

Using python2 env setup using miniconda
Installed all the requirements.txt plus others mentioned in the guide to set up dev env.

conda set up is in a dir

[2019-04-03 06:58] gimite commented on #619
Oh so yapf performs auto formatting like clang-format. That sounds nice! I like auto formatting (though some people hates it).

Just curious, why is that? Is it possible that yapf breaks the code, not just changing formatting? Can't we apply it to all files at once if it safely reformats files without changing semantics?

Also just curious, do you know of anything similar for JS(X)?

[2019-04-03 07:15] vintol commented on #615
I have an Important question.

Do I just commit to the main branch, can I even do that ?
OR keep working on the forked branch or something else ... ?

[2019-04-03 07:35] gimite commented on #615
You can just send pull requests. We can review and merge them into the master branch.

[2019-04-03 07:56] vintol commented on #615
Okay. Doing that.
I have started working.

I am Removing the first comment I made and using it as a sort of TODO board and a Progress bar for this Issue.

[2019-04-03 11:03] vintol commented on #615
In Model.py

`from google.appengine.ext import db`
135 refrences to db.

`from google.appengine import ext` or leave as it is ?

[2019-04-03 22:58] nworden commented on #619
yapf isn't expected to change semantics, but it looks like there are going to be thousands of lines that need to change just under /app (not including app/vendors), so if we tried to do it all at once we'd have a high risk of merge conflicts and a huge PR to review. Maybe we could have a rule that if you change a file that's not already checked by yapf you should run yapf on it and add it to the l

[2019-04-03 23:17] gimite commented on #615
https://cloud.google.com/appengine/docs/standard/python/refdocs/google.appengine.ext.db?hl=en
`db` is a package, so you can leave it as is.

It is sometimes unclear if the symbol is a package/module or a variable. But I believe you can consult documentation or read code of the library to distinguish them.

[2019-04-04 01:20] gimite commented on #619
That sounds good to me if the formatting PR is separated from the main change PR (otherwise the diff would be messy).

I'm still wondering maybe we can still try applying it to all files for following reasons, but it's up to you:

* Code review: We probably don't need a full code review once we trust that the tool does the right thing. In order to trust it, we can:
    * Do manual spot review to s

[2019-04-04 21:17] nworden commented on #619
Maybe we could do it in batches. yapf seems to support regexes in the file list (e.g., `tools/lint yapf-fix app/[c-f]*.py` fixes all the files starting with letters c-f), so I could do a set of files I know aren't being touched right now and then do other batches later.

If you have time to take on the JS side that'd be great!

[2019-04-05 06:11] gimite commented on #619
SGTM!

Sure. I may not have time immediately but I will take a look when I have time.

[2019-04-05 15:00] nworden opened #626 "Move out of the global namespace"
We currently have all our stuff in the global namespace, and it'd be nice to have our modules in our own namespace. The obvious options are either "personfinder" or simply "pf"; I'd prefer "pf" since "personfinder" is kinda long. I don't think we need to worry about "pf" colliding with anything else, especially since [that name on PyPI](https://pypi.org/project/Pf/) is occupied by a project that i

[2019-04-06 22:59] nworden commented on #168
Just in case you're still working on this (and I certainly wouldn't blame you if you weren't -- it's a beast of a file :), heads up that I'm splitting up the `run_test_seeking_someone_regular` tests (`test_seeking_someone_regular` and `test_seeking_someone_regular_by_full_text_search`). If you've changed the same function, let me know and I'll hold off on submitting my change to avoid merge confli

[2019-04-06 23:18] nworden commented on #226
Something I'd overlooked earlier is that it's not just the times that don't match, it's also the year. I think that rules out the possibility that it's something going on within that particular test; it has to be another test (one that uses dates in 2010) interfering with it somehow.

Since the server tests set the time by passing a CGI parameter, if we have multiple tests running in separate thre

[2019-04-08 00:47] gimite commented on #626
Just curious, what is the motivation doing this? PF is an application, not a library, so defining classes in the global namespace doesn't look bad to me. It won't harm to put it in a namespace though.

[2019-04-08 16:16] nworden commented on #617
This is done and the docs have been updated.

[2019-04-08 16:16] #617 closed

[2019-04-09 22:11] nworden commented on #619
Update from PR #630: YAPF had a new release and broke our build, after being enabled for two files for four days, so I think we should reconsider enforcing it.

Quoting from @gimite from that PR:

I'd rather not make auto-reformatting the codebase a regular thing if we can help it. It'll be annoying to avoid merge conflicts, and it messes up file history too: if we reformat things once, then at le

[2019-04-10 00:07] gimite commented on #619
Oh I didn't mean to perform the "project-wide batch update" often. I imagined something like doing it every 3 years :) It of course assumes that the current snapshot of yapf is good enough for most cases though.

I have slight preference for the latter but it is up to you. We can try whatever option to see how well it works.

My concern for the former is that, if each person uses an auto-formatter

[2019-04-11 00:17] nworden commented on #619
Ah, ok, that wouldn't be as bad as I thought. I think we might have to do it more often than that though, e.g. to keep up with new version of Python, or if there's a YAPF bug and we needed to upgrade to fix it. And it might be annoying to external folks if they had to specifically install an old version of YAPF.

Oh, that's a good point. It might not be as big a problem with most formatters as for

[2019-04-11 00:39] gimite commented on #619
Sounds good, thanks for working on this!

[2019-04-11 00:45] nworden opened #638 "Maybe make params a class"
Hiroshi brought up that it'd be good to make env a class, and that was done in PR #629. Maybe it'd be a good idea to do something similar with params. It'd probably be simpler with params since they're "dumb" -- there's not any real handler logic involved in setting the params, so the class' constructor could just be passed the request object and set itself up.

As with env, if we made params a cl

[2019-04-11 01:30] nworden commented on #626
We could live without it, but there's a couple reasons I'd like to do it:
- In getting pfif-tools fully onto Django and onto the Python 3 runtime, I've found that both Django and GAE kinda expect that your code will be in its own namespace; it hasn't really been a blocker (at least not so far), but it's kinda awkward.
- We wouldn't have to even think about naming collisions. It's very unlikely to

[2019-04-11 05:12] gimite commented on #626
I see, sounds good if it's a common practice and can also solve real issues.

[2019-04-19 16:14] nworden opened #644 "config module is being weird"
I've started sometimes getting errors about the `get_for_repo` function, specifically errors that say it doesn't exist:
`AttributeError: 'module' object has no attribute 'get_for_repo'`

Deleting `app/config.pyc` (i.e., the "compiled" version of the file) resolves the problem, but only temporarily. This has been [affecting Travis too](https://travis-ci.org/google/personfinder/jobs/522194575) (some

[2019-04-19 16:51] nworden commented on #644
Bizarrely, this is resolved by using the full name of our `captcha` module when importing it from `utils.py` (PR #645). I'll leave this open until I understand what happened here, but I think this might be a reason to consider bumping the priority of issue #626 (moving out of the global namespace), especially for modules with higher risk of name collision.

[2019-04-22 17:22] nworden commented on #574
FTR, I just learned there's a package called [webapp3](https://pypi.org/project/webapp3/), but all three of its releases were on the same day (2018-10-29), all the links on its pypi page are broken, and I couldn't even find a repo for it from the maintainer's GitHub page, so I'm sticking with Django.

[2019-04-22 22:15] nworden commented on #463
Fixed in #651.

[2019-04-22 22:15] #463 closed

[2019-04-27 19:21] nworden opened #658 "Update use of Google Charts"
The admin/dashboard page seems to rely on an old version of Google Charts, which uses Flash. We should update it to the current Charts tools, which is documented [here](https://google-developers.appspot.com/chart/interactive/docs/).

[2019-04-29 03:11] nworden commented on #619
I tried a few different auto-formatters (yapf, autopep8, and a newish one called black), and it seems like they all change things they don't necessarily have to (though yapf is the most problematic in this department). I'm a little hesitant to make a long-term commitment to any particular auto-formatter.

Style-*checking* is an easier question though. There's kinda two major options, but they're r

[2019-04-29 15:38] nworden opened #660 "Presubmit to check that messages are updated"
Since `server_tests` updates them when it runs, it used to be nearly impossible to neglect this, since they'd get updated as long as you ran the server tests locally before you opened your PR. However, with the Django migration, we're moving away from the current server testing framework and using Django's test framework instead. Overall that's been really nice, because the Django tests are way fa

[2019-05-03 16:30] nworden opened #669 "Future of resource bundles"
TL;DR: I'm tentatively planning to scale back the resource bundles feature to support just static files. LMK if you disagree or otherwise have concerns!

PF has an interface admins can use to change templates, stylesheets, etc. without pushing a code change. It's not really clear how we'd support it with the React UI, nor is it clear that we'd want to if we could: the ICs couldn't remember the las

[2019-05-04 03:05] ramuta commented on #574
webapp2 3.0.0b1 release supports Python 3: https://github.com/GoogleCloudPlatform/webapp2/releases/tag/3.0.0b1

But since webapp2 is not actively maintained anymore, it's better to go with something else. I suggest looking into Flask.

P.S.: Avoid unknown Pypi packages. Who knows what they have hidden in their source code.

[2019-05-07 02:29] gimite commented on #619
The plan looks good to me!

Just curious, what is an example of "changing things they don't necessarily have to"? I'm personally OK if they change one format to another format where both are actually acceptable. It wouldn't be a problem if we once apply the formatter in batch and stick with it.

It would be a concern if it changes a good format to a bad format, or their formatting changes too ofte

[2019-05-10 16:51] nworden opened #675 "Email reminders for almost-expired admin access"
It'd probably be helpful to email admins to let them know when their access is about to expire, so they can get it extended if they should still be admins. Maybe something like one reminder 2-3 weeks before and another 2-3 days before.

[2019-05-12 13:22] kshithijiyer opened #680 "Missing boilerplate notice in a large number of files."

[2019-05-15 16:07] #680 closed

[2019-05-15 17:54] kshithijiyer commented on #431
Could you point out where these HTML templates are located and the code to Japan as well?

[2019-05-16 01:46] kshithijiyer commented on #194
Could you explain more about what is to be changed and where?

[2019-05-16 15:18] nworden commented on #194
TL;DR: We'd like to send back a human-readable error message to the user [here](https://github.com/google/personfinder/blob/174e4408a39500d4bd1d315930d55c9195590aa2/app/api.py#L715), instead of just logging an error like we do now.

PF has an SMS feature that lets you make simple queries or record additions by texting "search <name>" or "I am <name>" to a designated number. The PF code for this is

[2019-05-16 21:37] nworden opened #690 "tar security issue"
We're getting a warning from GitHub saying that we should upgrade the tar JS library to 4.4.2 or later. However, node-gyp (which we indirectly depend on) specifically requires tar v2.x, apparently for good but complicated reasons. The tar fix [has been backported to the 2.x line](https://github.com/npm/node-tar/issues/212#issuecomment-492462167) and is in v2.2.2, which is what we use.

I'm not sur

[2019-05-20 19:38] nworden opened #696 "See if person creation code needs to handle note photos"
The person creation handler has code to handle both a `photo` field and a `note_photo` field, but it's not clear where the note_photo comes from. Possibly that code used to be shared with the add_note handler (doesn't seem to be now though).

[2019-05-22 06:12] gimite commented on #431
Thanks for the interest! We are currently redesigning the UI (#478), so it may be better to wait until the redesign is settled, then add it to the new UI.

[2019-05-22 09:06] kshithijiyer commented on #431
Acknowledged

[2019-05-23 04:58] kylejb commented on #556
@nworden / @gimite - I will be tackling this issue for my first contribution.

[2019-05-23 14:25] nworden commented on #556
Cool, thanks! Let me know if you have any questions.

[2019-05-27 04:28] kylejb commented on #556
Thanks! Would it be best to ask questions here or would you prefer another medium like Discord?

[2019-05-27 21:08] nworden commented on #556
Here's good, we don't really use anything besides GitHub.

[2019-06-04 17:22] nworden commented on #157
I'll do this as part of the refactoring I'm doing for the UI work.

[2019-06-07 03:18] kylejb commented on #556
No problem!

I'm having some preliminary issues running the application locally. The error message pertains to a file titled "**lxml.py.**" It's missing from the directory. And the error message specifically reads "**ImportError: No module named common**".

Are you able to run it locally right now?

[2019-06-07 13:42] pollyMath commented on #592
If this is not worked on and it is still relevant, I would like to take it :)

[2019-06-07 13:48] pollyMath commented on #339
If this is not worked on and it is still relevant, I would like to take it :)

[2019-06-07 16:29] nworden commented on #556
Yeah, I haven't had any problems running it locally recently. A couple questions to help debug this:
1) Do you see this error message right away, or when you try to visit a page?
2) Have you run `pip install -r requirements.txt -t app/vendors`? You might be missing lxml altogether.
3) Would you mind posting the whole stack trace?

[2019-06-07 16:30] nworden commented on #339
You're welcome to take this up if you like. We are making some major changes to the UI, but this issue will affect the new lite UI so it's still relevant.

[2019-06-07 16:46] kylejb commented on #556
Only after I visit localhost:8000, I see the error message.

I am definitely missing lxml altogether. But, I did run the aforementioned command. I was initially have some problems running it due to an apparently common conflict that `pip install` has with `brew install` python. I resolved it after finding a workaround online. The error and workaround for that issue is described [here](https://stac

[2019-06-07 16:48] nworden opened #710 "PR checks not always running"
I've noticed recently that tests aren't getting run automatically for new pull requests. Today there was also an issue with the CLA check (it didn't get re-run as expected on PR #709, but I've confirmed on our side that pollyMath did sign it). I don't know of any recent changes we've made that might have caused this, but GH's and Travis CI's status pages both look good, so it's probably us.

[2019-06-07 16:56] kshithijiyer commented on #167
I think we can close this as I don't see this line in app.yaml.

[2019-06-07 17:05] kshithijiyer commented on #431
Is it done yet?

[2019-06-07 18:06] #194 closed

[2019-06-07 18:54] nworden commented on #167
Yeah you're right, this is no longer relevant.

[2019-06-07 18:54] #167 closed

[2019-06-07 18:59] nworden commented on #556
Oh, I forgot lxml is one of the non-vendored ones; did you also already run `sudo pip install pytest 'lxml>=3.5.0' cssselect oauth2client modernize mock pylint yapf`?
I haven't used brew so I can't offer you much help there, but fwiw some people (especially if they're also working on other Python projects) find it helpful to use [virtualenv](https://docs.python-guide.org/dev/virtualenvs/#lower-lev

[2019-06-07 19:07] nworden commented on #431
Thanks for the reminder, we do have a mock that includes the how-to link for the new UI on repo homepages, [here it is](https://user-images.githubusercontent.com/9059304/59127345-66a6f300-8935-11e9-9486-957c5b1400a0.png). If you'd like to do this or other work on the new UI (which we're building with React), there's instructions on how to get started [here](https://github.com/google/personfinder/b

[2019-06-07 19:51] nworden commented on #690
The GitHub warning is gone.

[2019-06-07 19:51] #690 closed

[2019-06-08 05:29] kylejb commented on #556
I did run that command, but not in virtualenv – virtualenv got it running locally. Thank you for the suggestion.

I'll check in with you on my progress later this weekend and will let you know if I have any additional questions.

[2019-06-12 12:27] kylejb commented on #556
@nworden -

I am finding the task to be beyond my current skill level. The biggest obstacle has been working through code written by others. As a beginner, I have only been exposed to Python in isolation. But, through this experience, I identified these skill gaps and will work on it.

As much as I relish the challenge and this awesome opportunity to progress while also helping your team with this

[2019-06-13 15:22] nworden commented on #556
Ok, no worries Kyle. We'll be happy to have you back later if you want to return :)

[2019-06-13 17:33] kylejb commented on #556
Thank you!

[2019-06-17 00:57] sumanthratna commented on #478
Just curious, but why wasn't Angular chosen? This doesn't really count as a reason, but I feel like Google typically uses Google-developed tools.

On a more serious note, I personally feel like the organization of the components in this project would make more sense with Angular 2 and Material.

[2019-06-17 15:04] nworden commented on #478
We considered Angular, but there's a couple reasons we chose React instead, mainly:
- Angular's more heavyweight, which I'm sure is great for some projects, but it was just more than we needed (we're perhaps more averse to using extra bandwidth than some Google projects are, since PF's often used in situations with limited connectivity, shared wi-fi, etc.).
- We're open-source, and (outside Google

[2019-06-28 19:40] hmuhammadazeem commented on #658
I want to contribute to this. Where should I start?

[2019-06-28 21:29] nworden commented on #658
Hi Muhammad!

So, Person Finder has a dashboard page for each repository that's supposed to show various statistics about its usage. If you have a local Person Finder running, you can find the dashboard at a path like `/haiti/admin/dashboard`. However, the code to generate the charts seems to depend on an old version of the Google visualization library, and parts of it use Flash, etc. Specifically

[2019-06-28 22:26] nworden commented on #658
Actually, I didn't pay enough attention when I looked at the docs for the "Timeline" chart type, I think what we actually need is probably a [linechart](https://google-developers.appspot.com/chart/interactive/docs/gallery/linechart).

[2019-07-01 20:56] hmuhammadazeem commented on #658
Alright, thank you for the information.

[2019-07-03 21:24] srcox86 commented on #675
@nworden please assign to me. I will work on implementing this functionality.

[2019-07-04 10:34] myoshimu commented on #395
@gimite @nworden
Sorry for the delay in seeing this and let me consult how we should handle this issue.

When I tried to use Google Cloud SDK instead of the original App Engine SDK, it worked with the following command as the old SDK(including new React UI) without problem.
$ /opt/google-cloud-sdk/bin/dev_appserver.py app/app.yaml --port 8000 --admin_port=8001

I saw [the generation comparison](ht

[2019-07-04 23:23] gimite commented on #395
Thanks for taking a look at this!

tools/gae can also be used in this way:
[code]
as documented in:
https://github.com/google/personfinder/wiki/GettingStarted

Have you confirmed if the command works as is with Cloud SDK?

What about line 39? Don't you need to update the line too because dev_appserver.py is now at /opt/google-cloud-sdk/bin/dev_appserver.py?

If we leave tools/gae as is, it won't w

[2019-07-05 21:00] srcox86 commented on #319
@nworden @gimite I would like to work on this issue.

[2019-07-05 21:17] nworden commented on #319
Thanks Sean! Let me know if you have any questions.

[2019-07-09 15:49] kshithijiyer commented on #212
I see that the code is already moved. Should this issue be closed now?

[2019-07-09 15:57] kshithijiyer commented on #239
For this, we need to add a self.info() or a popup on the UI?

[2019-07-09 21:47] nworden commented on #212
Some of it's been moved (and I'm moving more as I go, with the migration to Django), but it's not done yet.

[2019-07-09 21:49] nworden commented on #239
I wouldn't want it to get blocked by popup blockers, so maybe we should display the warning directly on the page in place of the captcha, and have a button/link that users can click to load the captcha.

[2019-07-11 22:26] nworden opened #740 "More user-friendly access-denied page"
When a user without access tries to go to an admin page, we should a) give them a more helpful error message and b) provide a logout link, for people who may have multiple accounts.

[2019-08-16 12:06] hmuhammadazeem commented on #658
@nworden Hi Nick, I've been trying to setup the environment. But the errors related to the Python 2.7's end of support have been arising. Are there any plans to shift to Python 3. Either way, let me know if I'm missing something.

[2019-08-20 13:40] kshithijiyer commented on #710
We can close this issue right? I see that the patch is already merged.

[2019-08-20 13:42] kshithijiyer commented on #740
What error message do you have in mind?

A big button in the middle of the page would be good?

Could you please explain on what has to be change to what to achieve this?

[2019-09-20 06:09] gimite opened #742 "List of repositories is not show in the global home page"
We used to show the list of repositories in the side menu of the global home page. It looks it disappeared from the old UI.

[2019-09-20 06:14] gimite opened #743 "Dead link from "full_name" fields in "Review notes" page"
e.g., https://google.org/personfinder/test/admin/review

It links to:
https://google.org/view?id=test.personfinder.google.org/person.xxxxx
But it should be:
https://google.org/personfinder/test/view?id=test.personfinder.google.org/person.xxxxx

[2019-11-01 14:43] nworden opened #746 "Our Python 2.7.12 tests can't run"
Our tests for Python 2.7.12 now fail with this error:
`Unable to download 2.7.12 archive. The archive may not exist. Please consider a different version.`
I'd really like to consider a different version, but unfortunately, as far as I can tell, App Engine's Python 2 runtime still uses 2.7.12 (the last Python runtime update in [the release notes](https://cloud.google.com/appengine/docs/standard/pyt

[2020-01-18 13:36] kshithijiyer commented on #710
@nworden ?

[2020-01-18 14:07] nworden commented on #710
Thanks Kshithij, yeah we can close this.

[2020-01-18 14:07] #710 closed

[2020-03-02 16:02] #743 closed

[2020-06-01 17:24] routrohan commented on #592
Is this issue still open?
If so, I would like to work upon it.

[2020-06-02 12:42] nworden commented on #592
Yeah, there hasn't been follow-up on the above PR, so feel free to take it. Thanks!

[2020-07-09 04:15] gimite opened #752 ""About Person Finder" link is 500"
e.g., "About Person Finder" link in the hamberger menu in https://google.org/personfinder/test links to https://google.org/personfinder/global, which returns 500. It should probably link to https://google.org/personfinder/ instead.

[2020-07-10 03:37] nworden commented on #752
I don't think I'll have time tomorrow (and this weekend I finally need to do the tax returns I've procrastinated on), but I should be able to get to this early next week.

[2020-07-13 01:29] gimite commented on #752
Thanks! It is not urgent, so take your time. Let me know if you are busy and have no time working on this. I will probably have some bandwidth, so I may be able to take this kind of small fixes.

[2020-10-07 08:37] BrownCoatJustice opened #757 "Python 2.07"
Do we need tp have python 2.07 for developing in this project? Because I have 3.9.0...

[2020-10-07 23:00] pollyMath commented on #592
sorry for great delay, have done another commit to my PR

[2020-10-09 06:29] #757 closed

[2020-10-13 12:17] ryosuketc opened #758 "tar xvfz does not work to extract PIL 1.1.7 in GettingStarted"
`tar xvfz` in [GettingStarted](https://github.com/google/personfinder/wiki/GettingStarted) does not work for PIL 1.1.7 in the [Download](http://effbot.org/downloads/Imaging-1.1.7.tar.gz) link there.

[code]

The reason seems to be because it is not a gzipped file - instead it is a POSIX tar archive file.
[code]

Hence `z` option needs to be removed.
[code]

[2020-10-15 02:04] ryosuketc opened #759 "Repositories do not appear in the left-side navigation menu on localhost:8080"
I followed [GettingStarted](https://github.com/google/personfinder/wiki/GettingStarted) up until step 4. I passed all tests.

[code]

On `localhost:8080`:
There is no link(s) to repositories in the left-side navigation (vs. what's stated in the guide)

![image](https://user-images.githubusercontent.com/43229670/96068007-e0f66880-0ed5-11eb-84f0-24d6e8454b7d.png)

Once I go to `localhost:8080/japan`

[2020-10-15 03:56] gimite commented on #758
Hm this looks like a bug of effbot.org because the file name says .tar.gz but the file is not gzipped. But we should update the instruction anyway. Thanks for the report!

[2020-10-16 00:41] ryosuketc commented on #758
@gimite Done.
https://github.com/google/personfinder/wiki/GettingStarted/_compare/f3d3b099acfbdc8c319412c7413d27c85b4e1d6a...c672db51b905c113cedcc8aaef7fb83c97dd3226

[2020-10-16 00:41] #758 closed

[2020-10-19 03:00] gimite commented on #752
This is the mapping from URL patterns to their handlers:
https://github.com/google/personfinder/blob/master/app/app.yaml

When the URL is mapped to `script: wsgi.application`, it is handled by Django. When it is mapped to `script: main.py` (i.e., when it doesn't match other patterns), it is handled by app/main.py, our traditional main handler.

URL "/global" should be alias of /global/home.html (a

[2020-10-27 07:09] ryosuketc commented on #752
@gimite Thank you for sharing the findings. Very helpful to catch up.

All the URL patterns (`/`, `/global/home`, `/global`) should be handled by `GlobalIndexView`, but `/global` does not seem to be listed and configured in `url.py`.
At a glance, it would be quick to fix it by adding just a few lines in the `url.py`.

Not very critical but a remaining concern could be at which version it stopped w

[2020-10-27 07:13] gimite commented on #752
Thanks! It was broken a while ago, so we don't really need to know when it got broken :) You can investigate it if you are curious though. All traffic used to be served from main.py, so it sounds likely that it was broken when we migrate it to Django.

[2020-10-27 07:27] ryosuketc commented on #752
Noted. Then I will try to fix it anyway.

[2020-10-28 03:27] ryosuketc opened #761 "Archive file for python 2.7.12 is gone in storage.googleapis.com/travis-ci-language-archives/"
My recent PR failed due to the following error. It seems that some archive file for python 2.7.12 is gone.
[Travis might have dropped its support](https://travis-ci.community/t/python-builds-started-failing-to-download-2-7-12/3516/2) due to [the end of life of 2.7.12](https://en.wikipedia.org/wiki/History_of_Python#Table_of_versions).

[code]

https://travis-ci.org/github/google/personfinder/jobs/

[2020-10-28 04:10] ryosuketc commented on #761
This seems to be a duplicate of https://github.com/google/personfinder/issues/746. Closing this one.

[2020-10-28 04:10] #761 closed

[2020-10-28 05:15] #752 closed

[2020-11-05 07:17] ryosuketc opened #762 "flake8 is missing and thus no unit tests run"
Unit tests failed to run because of the lack of `flake8`
It does not seem to be specified neither in [GettingStarted](https://github.com/google/personfinder/wiki/GettingStarted) nor `requirements.txt`.

For me, I just installed it in my global directory (i.e. `pip install flake8`), which worked fine.
I am wondering if above is the right way, or should I install it in `app/vendors` by specifying it

[2020-11-11 05:17] ryosuketc opened #763 "Skip and optimize "Updating translations" in tools/server_tests"
`tools/server_tests` consists of two parts:
1.  Update translations
2.  Run tests (`pytests`)

1 is not always necessary and we sometimes want to skip 1 temporarily.

As a side note,  the update message looks taking much longer than before, and it looks like it is trying to update unnecessary files. We may want to fix it too. I believe we only need to update our messages, not inside app/vendors.

[2020-11-11 05:24] ryosuketc opened #764 "Packages are missing in GettingStarted and server tests fail"
`tools/server_tests/ fails. It seems that some packages are missing from [GettingStarted](https://github.com/google/personfinder/wiki/GettingStarted).
The missing ones have to be installed in a global environment, instead of `app/vendors`.

`flake8` might be one of them - https://github.com/google/personfinder/issues/762.

[code]

[2020-11-13 06:34] ryosuketc commented on #763
Following up with @gimite internally.

[2020-11-13 15:56] ryosuketc commented on #763
Confirmed with him that this implementation and its output for the second TODO item.
The changes will be sent after https://github.com/google/personfinder/issues/764 is addressed and confirmed to pass all server tests.

Before the change
[code]

After the change:
[code]

[2020-11-19 06:49] ryosuketc commented on #764
-   `parameterized` seems to be the only missing package, which I added to [GettingStarted](https://github.com/google/personfinder/wiki/GettingStarted).
-   Code in https://github.com/google/personfinder/issues/763 passes almost all tests.
    -   Except for the image-related ones, which we can disregard for now as chatted offline with @gimite (with future migration to Python 3 etc in mind).

@gim

[2020-11-19 06:50] ryosuketc commented on #764
Added instructions on virtualenv to [GettingStarted](https://github.com/google/personfinder/wiki/GettingStarted), which was used to address the issue (and we might eventually use it for Python 3 migration)

[2020-11-19 07:32] gimite commented on #764
Yeah not exactly sure what `Not Found: /personfinder/_ah/admin/tasks` means, but I guess you can ignore it. It is not an error in the test, just part of the appserver output.

[2020-11-19 22:55] ryosuketc commented on #762
Fixed in the latest [GettingStarted](https://github.com/google/personfinder/wiki/GettingStarted)
@gimite FYI

[2020-11-19 22:55] #762 closed

[2020-11-19 23:06] ryosuketc commented on #764
Thanks.

Since I forgot `flake8` as another missing package, I added it in the GettingStarted https://github.com/google/personfinder/issues/762

This PR https://github.com/google/personfinder/pull/765 includes all the fixes assuming we can ignore `Not Found...`. I'd appreciate your review :)

[2020-11-24 23:15] #764 closed

[2020-11-26 00:45] gimite opened #766 "Images in "Howto" page are 404"
https://www.google.org/personfinder/global/howto.html?lang=en

[2020-11-26 01:55] ryosuketc commented on #763
TODO 1 was completed and merged.
TODO 2 is reverted and on hold until we migrate to Python 3.
https://github.com/google/personfinder/pull/768

[2021-01-18 23:38] ryosuketc opened #771 "appcfg is deprecated: Correct command in GettingStarted Step 6"
`tools/gae update app -A <project_id> --noauth_local_webserver` fails due to deprecation of `appcfg`.
Step 6 in [GettingStarted](https://github.com/google/personfinder/wiki/GettingStarted)

The command has to be migrated to `gcloud`.

[code]

[2021-01-19 02:21] ryosuketc commented on #771
DEPRECATED:
[code]
-> It eventually invokes:
https://github.com/google/personfinder/blob/8c31f8e6044b57e77e3898d8aaf32ed54bfdd3c8/tools/gae#L42

NEW ((my-app-id == Cloud project ID)):
[code]

However, `application` and `version` needed to be removed to make it compatible with `gcloud` command.
See [app.yaml Reference  |  App Engine standard environment for Python 2](https://cloud.google.com/appeng

[2021-01-19 02:53] gimite commented on #771
Thanks for taking a look!

Makes sense. Can you proceed with the change to remove `application` and `version`? (The server test might have dependency to this (I don't know), but I guess we should update the server test as well.)

Not really sure if this is necessary. Can you try without it first, and if it doesn't cause any issues, I guess we won't need it.

[2021-01-19 05:33] ryosuketc commented on #395
App Engine **standalone** SDK seems to have gotten unavailable in Aug. 2020., which forces us to migrate out of `appcfg`.
https://cloud.google.com/appengine/docs/standard/python/sdk-gcloud-migration

[2021-01-19 07:06] ryosuketc commented on #771
The approach makes sense. Let me see if what we need to modify after the change

[2021-01-19 21:53] ryosuketc commented on #771
Looking at an internal documentation on releasing PF, the existing `appcfg` command expects an original version continue running until we migrate traffic manually from console (or CLI or whatever).
Hence the deploy command should **not** [promote](https://cloud.google.com/sdk/gcloud/reference/app/deploy#--promote) the deployed version to receive all traffic.
[code]

[2021-01-19 22:26] ryosuketc commented on #395
I have found `APPENGINE_DIR` strings in the following files (but not yet examined the usage).

-   config files
https://github.com/google/personfinder/blob/master/.travis.yml
https://github.com/google/personfinder/blob/master/Dockerfile

-   tests
https://github.com/google/personfinder/blob/master/tests/server_tests.py

-   tools
https://github.com/google/personfinder/blob/master/tools/gae
https:/

[2021-01-19 22:58] ryosuketc commented on #395
Searching for `tools/gae` in our wiki ([search result](https://github.com/google/personfinder/search?q=repo%3Agoogle%2Fpersonfinder+tools%2Fgae&type=wikis)), I only found two types of usages, which could mean that we only expect these arguments (run or update).
`tools/gae run ...`
`tools/gae update ...`

[2021-01-20 01:05] ryosuketc commented on #771
The command succeeds (i.e. deploy the app) when 1. it is directly invoked from CLI OR 2. it is invoked from `tools/gae` with `source common.sh` being commented out.
It fails, however when it is invoked from `tools/gae` with `source/common.sh` as it is.

@gimite @myoshimu I am investigating the error to migrate from `appcfg` to `gcloud`. I am suspecting any variable set by `common.sh` might be unex

[2021-01-20 05:19] gimite commented on #395
`tools/console` may not be mentioned anywhere, but it is still a useful tool (which allows us to interactively run Python code against a PF instance on AppEngine), so it would be great if we can keep it working.

This is probably true.

Note that we don't necessarily need to keep command line syntax of these commands. We just need an alternative way to do the same things (and update documents).

A

[2021-01-20 05:28] gimite commented on #771
Looks like `tools/gae app ...` is equivalent of directly hitting `appcfg.py app ...`:
https://github.com/google/personfinder/blob/master/tools/gae#L42

How about just hitting your gcloud command instead of running `tools/gae app ...`? Maybe it's the easiest solution for this particular case?

[2021-01-20 06:10] ryosuketc commented on #771
Indeed, the difference is whether we run `common.sh` or not. If we do not run it, the `gcloud` command works fine.
But my concern is whether something go wrong because of the lack of 'common.sh', which sets some environment variables and is supposed to be sourced in every files under `tools/` dir.

[2021-01-20 06:17] ryosuketc commented on #395
Thanks for the advice. I will prioritize the two scripts. In the meantime, https://github.com/google/personfinder/issues/771 has to be addressed first.

[2021-01-20 08:07] gimite commented on #771
Just to clarify, my suggestion is to let developers (and the release script) directly run:

[code]

instead of using `tools/gae`. In this scenario, I believe not running `common.sh` should cause no issues because `gcloud` command should have no dependency to any of the environment variables defined there. WDYT?

[2021-01-21 03:23] ryosuketc commented on #771
tl;dr is I agree with you to have developers run `gcloud` commands directly where no wrapper scripts are needed. Once I get your confirmation, I will update GettingStarted and close this issue.

**Details**
I pinpointed the cause - `APPENGINE_RUNTIME=python27` set by `common.sh` somehow prevents `gcloud`. Indeed, when I unset it, the command works fine.
-   The variable seems to determine the runt

[2021-01-21 07:46] gimite commented on #771
I prefer the option 1. Thanks!

[2021-01-21 11:39] myoshimu commented on #771
Hi Ryosuke san,
When I simply tried `gcloud app deploy` it worked fine.
Did you set up the APPENGINE_DIR to the app engine directory as below?
(e.g.) I installed GCP SDK under /opt
APPENGINE_DIR=/opt/google-cloud-sdk/platform/google_appengine

[2021-01-21 23:43] ryosuketc commented on #771
@myoshimu Thank you for pointing it out.
I was not aware of the `platform/google_appengine` dir in Cloud SDK. Considering `appcfg` is deprecated and standalone App Engine SDK is no longer available for download ([official doc](https://cloud.google.com/appengine/docs/standard/python/tools/appcfg-arguments)), I would guess the dir is a kind of relief measures for those who still rely on `appcfg` (bu

[2021-01-22 00:15] ryosuketc opened #772 "Incorrect arguments are passed in docker/gae-run-app.sh"
The arguments given to https://github.com/google/personfinder/blob/d845d5a801565a512e4501bb34c03f3ca789a125/docker/gae-run-app.sh#L11 might be malformed.
https://cloud.google.com/appengine/docs/standard/python/tools/local-devserver-command

Current: `--host=${IPADDR} --port=${PORT}`
Correct: `--host ${IP_ADDR} --port ${PORT}`

[code]

I am leaving this as an open issue since I could not simply tes

[2021-01-22 04:09] gimite commented on #771
Mentioned in the meeting, but APPENGINE_DIR contains two things in my understanding:

* Command line tools like `appcfg`
* AppEngine Specific libraries for Python (like datastore)

The former (or at least `appcfg` specifically) looks deprecated while I guess the latter isn't. @myoshimu will confirm it (Thanks!), but I guess we can continue depending on it so far.

[2021-01-22 06:08] ryosuketc commented on #771
@myoshimu As mentioned in the meeting too but it would be great if we could know `--noauth_local_webserver` equivalent for `gcloud`.

[2021-01-22 06:39] gimite commented on #771
As I mentioned somewhere above, I personally don't care much about `--noauth_local_webserver`. I don't quite remember what it is for, but it should be fine if you can run it without the flag with no issue.

[2021-01-23 23:01] ryosuketc commented on #772
Chatted offline with @gimite and this issue is likely to be specific to our environment. Closing this for now.

[2021-01-23 23:01] #772 closed